@model NhaXeLinkModel
@using Nop.Web.Models.Common;

@if (Model.IsCustomerImpersonated || Model.DisplayNhaXeLink)
{
    <li>
        @if (Model.IsCustomerImpersonated)
        {
            <span class="impersonate">
                @string.Format(T("Account.ImpersonatedAs").Text, Model.ImpersonatedCustomerEmailUsername)
            - <a href="@Url.RouteUrl("Logout")" title="@T("Account.ImpersonatedAs.Finish.Hint")">@T("Account.ImpersonatedAs.Finish")</a>
        </span>
        }
        @if (Model.DisplayNhaXeLink)
        {
           <a href="@Url.RouteUrl("NhaXeManager")"><i class="fa fa-cog"></i>@T("Account.NhaXeManager")</a>
        }
    </li>
}

