@model BenXeListModel
@using Nop.Admin.Models.ChonVes
@using Nop.Core.Infrastructure
@Html.ValidationSummary(false)
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("ChonVe.BenXe.List.Title").Text;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
        @T("ChonVe.BenXe.List.Title")
    </div>
    <div class="options">
        <a href="@Url.Action("BenXeTao")" class="k-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table width="100%">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.ProvinceID):
        </td>
        <td class="adminData">
            @Html.DropDownListFor(model => model.ProvinceID, Model.AvailableStates)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.TenBenXe):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.TenBenXe)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" id="btnSearch" class="k-button" value="@T("Admin.Common.Search")" />
        </td>
    </tr>
</table>
<table class="adminContent">
    <tr>
        <td>
            <div id="danhsach-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#danhsach-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("BenXeList", "ChonVes"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)],
                            messages: {
                                display: "@T("Nop.Common.KendoGrid.display")", //{0} is the index of the first record on the page, {1} - index of the last record on the page, {2} is the total amount of records
                                empty: "@T("Nop.Common.KendoGrid.Empty")",
                                page: "@T("Nop.Common.KendoGrid.Page")",
                                of: "@T("Nop.Common.KendoGrid.Of")", //{0} is total amount of pages
                                itemsPerPage: "@T("Nop.Common.KendoGrid.itemsPerPage")",
                                first: "@T("Nop.Common.KendoGrid.first")",
                                previous: "@T("Nop.Common.KendoGrid.previous")",
                                next: "@T("Nop.Common.KendoGrid.next")",
                                last: "@T("Nop.Common.KendoGrid.last")",
                                refresh: "@T("Nop.Common.KendoGrid.refresh")"
                            }
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "TenBenXe",
                            title: "@T("ChonVe.BenXe.TenBenXe")"                       
                        }, {
                            field: "DiaChiText",
                            title: "@T("ChonVe.BenXe.DiaChiId")"
                        },  {
                            field: "HienThi",
                            title: "@T("ChonVe.BenXe.HienThi")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=HienThi#.gif" />'
                        },  {
                            field: "PictureUrl",
                            title: "@T("ChonVe.BenXe.PictureId")",
                            template: '# if(PictureId>0){#<img src="#=PictureUrl#" width="90px" height="90px" />#} #',
                            width: 100
                        },{
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            width: 100,
                            template: '<a href="BenXeSua/#=Id#">@T("Admin.Common.Edit")</a>'
                        }]
                    });
                });
            </script>

            <script type="text/javascript">
                $(document).ready(function () {
                    //search button
                    $('#btnSearch').click(function () {
                        //search
                        var grid = $('#danhsach-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                        return false;
                    });

                    $("#@Html.FieldIdFor(model => model.TenBenXe)").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#btnSearch").click();
                            return false;
                        }
                    });
                    $("#@Html.FieldIdFor(model => model.ProvinceID)").change(function () {
                        $("#btnSearch").click();
                        return false;
                    });

                });

                function additionalData() {
                    return {
                        TenBenXe: $('#@Html.FieldIdFor(model => model.TenBenXe)').val(),
                        ProvinceID: $('#@Html.FieldIdFor(model => model.ProvinceID)').val()
                    };
                }
            </script>
        </td>
    </tr>
</table>