@model HopDongModel
@using Nop.Admin.Models.ChonVes
@{
    //page title
    ViewBag.Title = T("Admin.ChonVe.HopDong.TaoMoi").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "hopdong-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-dashboard.png")" alt="" />
            @T("Admin.ChonVe.HopDong.TaoMoi") @Html.ActionLink("(" + T("Admin.ChonVe.HopDong.BackToList") + ")", "ListHopDong")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("ChinhSuaHopDong", Model)
}