@model PhieuChuyenPhatModel
@using Nop.Web.Models.ChuyenPhatNhanh
@using Nop.Core.Domain.NhaXes
@{
    float _widthkhuvucvanphong = 100f / Model.khuvucvanphongs.Count;
    String _lbcapnhat = "Tạo mới";
    if (Model.Id > 0)
    {
        _lbcapnhat = "Cập nhật";
    }
}
@Html.HiddenFor(m => m.ToVanChuyenNhanId)
@Html.HiddenFor(m => m.NguoiVanChuyenNhanId)
<table style="width:100%">
    <tr>
        <td style="text-align:left;">
            <table style="width:100%">
                <tr>
                    <td>
                        @if (Model.Id > 0)
                        {
                            <h3>Sửa phiếu biên nhận - @Model.MaPhieu</h3>
                        }
                        else
                        {
                            <h3>Tạo mới phiếu biên nhận</h3>
                        }
                    </td>
                    <td style="width:120px"></td>
                </tr>
            </table>
            <hr style="border:1px dashed #531010" />
        </td>
    </tr>
    <tr>
        <td>
            <table style="width:100%;border-collapse:collapse">
                <tr>
                    <td style="width:50%;vertical-align:top" class="phieuchuyenphat_border_td">
                        <table style="width:100%">
                            <tr>
                                <td colspan="2" style="text-align:center;font-weight:bold">NGƯỜI GỬI</td>
                            </tr>
                            <tr>
                                <td style="width:120px;text-align:left;">
                                    Điện thoại:
                                </td>
                                <td>
                                    <input id="cbbSearchNguoiGui" value="@Model.NguoiGui.SoDienThoai" style="width:180px" />
                                    @Html.HiddenFor(model => model.NguoiGuiId)
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left">
                                    Họ tên:
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.NguoiGui.HoTen, new { @style = "width:190px", @id = "PCP_NguoiGui_HoTen" })
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left">
                                    Địa chỉ:
                                </td>
                                <td>
                                    @Html.TextAreaFor(model => model.NguoiGui.DiaChi, new { @style = "width:188px", @id = "PCP_NguoiGui_DiaChi" })
                                </td>
                            </tr>
                        </table>
                        <script>
                            $(document).ready(function () {
                                $('#cbbSearchNguoiGui').kendoComboBox({
                                    placeholder: "Điện thoại người gửi",
                                    dataTextField: "SoDienThoai",
                                    dataValueField: "Id",
                                    filter: "contains",
                                    autoBind: false,
                                    minLength: 5,
                                    dataSource: {
                                        type: "json",
                                        serverFiltering: true,
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("CbbListKhachHangInNhaXe", "HangHoa"))",
                                                data: dataSearchNguoiGui
                                            }
                                        }
                                    },
                                    change: onChangeGui
                                });
                                function onChangeGui(e) {
                                    //alert(e.index);
                                    var DataItem = this.dataItem();
                                    $("#@Html.FieldIdFor(model => model.NguoiGuiId)").val(DataItem.Id);
                                    $('#PCP_NguoiGui_HoTen').val(DataItem.HoTen);
                                    $('#PCP_NguoiGui_DiaChi').val(DataItem.DiaChi);
                                    $('#cbbSearchNguoiNhan').data("kendoComboBox").input.focus();
                                }

                                function dataSearchNguoiGui() {
                                    var _dienthoai = $('#cbbSearchNguoiGui').data("kendoComboBox").text();
                                    return {
                                        SearchKhachhang: _dienthoai
                                    };
                                }
                            });
                        </script>
                    </td>
                    <td style="width:50%;vertical-align:top" class="phieuchuyenphat_border_td">
                        <table style="width:100%">
                            <tr>
                                <td colspan="2" style="text-align:center;font-weight:bold">NGƯỜI NHẬN</td>
                            </tr>
                            <tr>
                                <td style="width:120px;text-align:left">
                                    Điện thoại:
                                </td>
                                <td>
                                    <input id="cbbSearchNguoiNhan" value="@Model.NguoiNhan.SoDienThoai" style="width:180px" />
                                    @Html.HiddenFor(model => model.NguoiNhanId)
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left">
                                    Họ tên:
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.NguoiNhan.HoTen, new { @style = "width:190px", @id = "PCP_NguoiNhan_HoTen" })
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left">
                                    Địa chỉ:
                                </td>
                                <td>
                                    @Html.TextAreaFor(model => model.NguoiNhan.DiaChi, new { @style = "width:188px", @id = "PCP_NguoiNhan_DiaChi" })
                                </td>
                            </tr>
                        </table>
                        <script>
                            $(document).ready(function () {
                                $('#cbbSearchNguoiNhan').kendoComboBox({
                                    placeholder: "Điện thoại người nhận",
                                    dataTextField: "SoDienThoai",
                                    dataValueField: "Id",
                                    filter: "contains",
                                    autoBind: false,
                                    minLength: 5,
                                    dataSource: {
                                        type: "json",
                                        serverFiltering: true,
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("CbbListKhachHangInNhaXe", "HangHoa"))",
                                                data: dataSearchNguoiNhan
                                            }
                                        }
                                    },
                                    change: onChangeNhan
                                });
                                function onChangeNhan(e) {
                                    //alert(e.index);
                                    var DataItem = this.dataItem();
                                    $("#@Html.FieldIdFor(model => model.NguoiNhanId)").val(DataItem.Id);
                                    $('#PCP_NguoiNhan_HoTen').val(DataItem.HoTen);
                                    $('#PCP_NguoiNhan_DiaChi').val(DataItem.DiaChi);
                                    $('#@Html.FieldIdFor(m=>m.TenHang)').focus();
                                }

                                function dataSearchNguoiNhan() {
                                    var _dienthoai = $('#cbbSearchNguoiNhan').data("kendoComboBox").text();
                                    return {
                                        SearchKhachhang: _dienthoai
                                    };
                                }
                            });
                        </script>

                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="phieuchuyenphat_border_td">
                        <table>
                            <tr>
                                <td style="width:120px;text-align:left">
                                    Tính chất hàng:
                                </td>
                                <td>
                                    @foreach (var _item in Model.TinhChatHangs)
                                    {
                                        <div style="margin-bottom:15px">
                                            <input type="checkbox" class="TinhChatHang" name="TinhChatHangSelected" value="@_item.Value" checked="@(Model.TinhChatHangSelected != null && Model.TinhChatHangSelected.Contains(Convert.ToInt32(_item.Value)))" />&nbsp;@_item.Text
                                        </div>
                                    }
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="phieuchuyenphat_border_td">
                        <table>
                            <tr>
                                <td style="width:120px;text-align:left">
                                    Loại hàng gửi không khai báo giá trị:
                                </td>
                                <td>
                                    @foreach (var _item in Model.LoaiHangs)
                                    {
                                        <div style="margin-bottom:15px">
                                            <input type="checkbox" class="LoaiHang" name="LoaiHangSelected" value="@_item.Value" checked="@(Model.LoaiHangSelected != null && Model.LoaiHangSelected.Contains(Convert.ToInt32(_item.Value)))" />&nbsp;@_item.Text
                                        </div>
                                    }
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="phieuchuyenphat_border_td">
                        <table>
                            <tr>
                                <td style="width:120px;text-align:left">
                                    Thông tin hàng:
                                </td>
                                <td>
                                    @Html.TextAreaFor(model => model.TenHang, new { cols = "60" })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="phieuchuyenphat_border_td">
                        <table>
                            <tr>
                                <td style="width:120px;text-align:left">
                                    Số lượng:
                                </td>
                                <td>
                                    <input type="number" id="soluong" />
                                </td>
                                <td>
                                    <input type="button" id="luuthongtinhang" value="Lưu lại" />
                                </td>
                                <td>
                                    <input type="button" id="themmoihang" value="Thêm mới hàng" />
                                </td>
                                <td>
                                    Tổng cước phí: <span id="tongcuoc"></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <script>
                        $(document).ready(function(){

                        });
                    </script>
                </tr>
                <tr>
                    <td class="phieuchuyenphat_border_td" style="vertical-align:top">
                        <table style="width:100%;border-collapse:collapse">
                            <tr style="font-weight:bold;font-style:italic;text-align:center">
                                <td style="width:40%">Cước phí</td>
                                <td>@Html.EditorFor(model => model.CuocPhi)</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding:5px;">
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                Hàng không quy đổi
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>Chọn</td>
                                                        <td>Kích thước tối đa</td>
                                                        <td>Trọng lượng</td>
                                                        <td>Giá cước</td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="radio" name="hangkhongquydoi" class="hangkhongquydoi" value="20000" /></td>
                                                        <td>Phong bì, tài liệu và 35cm</td>
                                                        <td>Dưới 5kg</td>
                                                        <td>20,000</td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="radio" name="hangkhongquydoi" class="hangkhongquydoi" value="30000" /></td>
                                                        <td>45cm</td>
                                                        <td>5-10kg</td>
                                                        <td>30,000</td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="radio" name="hangkhongquydoi" class="hangkhongquydoi" value="35000" /></td>
                                                        <td>60Cmx40cmx50cm</td>
                                                        <td>10-15kg</td>
                                                        <td>35,000</td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="radio" name="hangkhongquydoi" class="hangkhongquydoi" value="40000" /></td>
                                                        <td>60Cmx40cmx50cm</td>
                                                        <td>15-30kg</td>
                                                        <td>40,000</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <script>
                                            $(document).ready(function(){

                                            });
                                        </script>
                                        <tr>
                                            <td>
                                                Hàng quy đổi
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>Bảng 1:</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Trọng lượng</td>
                                                        <td>
                                                            <input type="number" id="trongluong" value="0" /> (kg) x 1500đ
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>Bảng 2:</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Chiều dài</td>
                                                        <td>
                                                            <input type="number" id="chieudai" value="0" /> (cm)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Chiều rộng</td>
                                                        <td>
                                                            <input type="number" id="chieurong" value="0" /> (cm)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Chiều cao</td>
                                                        <td>
                                                            <input type="number" id="chieucao" value="0" /> (cm)
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <script>

                                        </script>
                                    </table>
                                </td>
                            </tr>
                            <tr>

                                <td class="phieuchuyenphat_border_td" colspan="2" style="padding:5px;">
                                    <table style="width:100%">
                                        <tr>
                                            <td colspan="2" style="font-weight:bold;font-style:italic;text-align:center"> Phí khác</td>
                                        </tr>
                                        <tr>
                                            <td style="width:29%">
                                                Nhận tận nơi:
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.CuocNhanTanNoi)
                                            </td>
                                        </tr>
                                        @foreach (var item in Model.LoaiHangNhanTraTanNoi)
                                        {
                                            <tr>
                                                <td colspan="2">
                                                    <input type="radio" name="nhantannoi" class="nhantannoi" value="@item.Value" /> &nbsp; @item.Text
                                                </td>
                                            </tr>
                                        }
                                        <script>
                                            $(document).ready(function () {
                                                $(".nhantannoi").click(function () {
                                                    var value = parseInt($(this).val());
                                                    switch (value) {
                                                        case @((int)ENHangNhanTraTanNoi.HANG_NHE_XE_MAY_1):
                                                            {
                                                                $("#@Html.FieldIdFor(model=>model.CuocNhanTanNoi)").val("15000");
                                                                $('#@Html.FieldIdFor(model=>model.CuocNhanTanNoi)').siblings('input:visible').focus();
                                                                break;
                                                            }
                                                        case @((int)ENHangNhanTraTanNoi.HANG_NHE_XE_MAY_2):
                                                            {
                                                                $("#@Html.FieldIdFor(model=>model.CuocNhanTanNoi)").val("25000");
                                                                $('#@Html.FieldIdFor(model=>model.CuocNhanTanNoi)').siblings('input:visible').focus();
                                                                break;
                                                            }
                                                        case @((int)ENHangNhanTraTanNoi.HANG_QUA_KHO_Xe_3_GAC_1):
                                                            {
                                                                $("#@Html.FieldIdFor(model=>model.CuocNhanTanNoi)").val("50000");
                                                                $('#@Html.FieldIdFor(model=>model.CuocNhanTanNoi)').siblings('input:visible').focus();
                                                                break;
                                                            }
                                                        case @((int)ENHangNhanTraTanNoi.HANG_QUA_KHO_Xe_3_GAC_2):
                                                            {
                                                                $("#@Html.FieldIdFor(model=>model.CuocNhanTanNoi)").val("80000");
                                                                $('#@Html.FieldIdFor(model=>model.CuocNhanTanNoi)').siblings('input:visible').focus();
                                                                break;
                                                            }
                                                        case @((int)ENHangNhanTraTanNoi.HANG_QUA_KHO_Xe_O_TO_1):
                                                            {
                                                                $("#@Html.FieldIdFor(model=>model.CuocNhanTanNoi)").val("100000");
                                                                $('#@Html.FieldIdFor(model=>model.CuocNhanTanNoi)').siblings('input:visible').focus();
                                                                break;
                                                            }
                                                        case @((int)ENHangNhanTraTanNoi.HANG_QUA_KHO_Xe_O_TO_2):
                                                            {
                                                                $("#@Html.FieldIdFor(model=>model.CuocNhanTanNoi)").val("150000");
                                                                $('#@Html.FieldIdFor(model=>model.CuocNhanTanNoi)').siblings('input:visible').focus();
                                                                break;
                                                            }
                                                    }
                                                })
                                            });
                                        </script>

                                        <tr>
                                            <td>
                                                Trả tận nơi:
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.CuocTanNoi)
                                            </td>
                                        </tr>

                                        @foreach (var item in Model.LoaiHangNhanTraTanNoi)
                                        {
                                            <tr>
                                                <td colspan="2">
                                                    <input type="radio" name="tratannoi" class="tratannoi" value="@item.Value" /> &nbsp; @item.Text
                                                </td>
                                            </tr>
                                        }
                                        <script>
                                            $(document).ready(function () {
                                                $(".tratannoi").click(function () {
                                                    var value = parseInt($(this).val());
                                                    switch (value) {
                                                        case @((int)ENHangNhanTraTanNoi.HANG_NHE_XE_MAY_1):
                                                            {
                                                                $("#@Html.FieldIdFor(model=>model.CuocTanNoi)").val("15000");
                                                                $('#@Html.FieldIdFor(model => model.CuocTanNoi)').siblings('input:visible').focus();
                                                                break;
                                                            }
                                                        case @((int)ENHangNhanTraTanNoi.HANG_NHE_XE_MAY_2):
                                                            {
                                                                $("#@Html.FieldIdFor(model => model.CuocTanNoi)").val("25000");
                                                                $('#@Html.FieldIdFor(model => model.CuocTanNoi)').siblings('input:visible').focus();
                                                                break;
                                                            }
                                                        case @((int)ENHangNhanTraTanNoi.HANG_QUA_KHO_Xe_3_GAC_1):
                                                            {
                                                                $("#@Html.FieldIdFor(model => model.CuocTanNoi)").val("50000");
                                                                $('#@Html.FieldIdFor(model => model.CuocTanNoi)').siblings('input:visible').focus();
                                                                break;
                                                            }
                                                        case @((int)ENHangNhanTraTanNoi.HANG_QUA_KHO_Xe_3_GAC_2):
                                                            {
                                                                $("#@Html.FieldIdFor(model => model.CuocTanNoi)").val("80000");
                                                                $('#@Html.FieldIdFor(model => model.CuocTanNoi)').siblings('input:visible').focus();
                                                                break;
                                                            }
                                                        case @((int)ENHangNhanTraTanNoi.HANG_QUA_KHO_Xe_O_TO_1):
                                                            {
                                                                $("#@Html.FieldIdFor(model => model.CuocTanNoi)").val("100000");
                                                                $('#@Html.FieldIdFor(model => model.CuocTanNoi)').siblings('input:visible').focus();
                                                                break;
                                                            }
                                                        case @((int)ENHangNhanTraTanNoi.HANG_QUA_KHO_Xe_O_TO_2):
                                                            {
                                                                $("#@Html.FieldIdFor(model => model.CuocTanNoi)").val("150000");
                                                                $('#@Html.FieldIdFor(model => model.CuocTanNoi)').siblings('input:visible').focus();
                                                                break;
                                                            }
                                                    }
                                                })
                                            });
                                        </script>

                                        <tr>
                                            <td>
                                                Phí phát sinh hàng giá trị:
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.CuocGiaTri)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Giá trị hàng</td>
                                            <td>
                                                <input type="number" id="giahanggiatri" />
                                            </td>
                                        </tr>
                                        <script>
                                            $(document).ready(function () {
                                                $("#giahanggiatri").change(function(){
                                                    var val=$(this).val();
                                                    var cuocphi=0;
                                                    if(val<20000000){
                                                        cuocphi=val*0.01;
                                                    }else if(val>=20000000 && val<=50000000){
                                                        cuocphi=val*0.005;
                                                    }else{
                                                        cuocphi=50000000*0.005;
                                                    }
                                                    $("#@Html.FieldIdFor(model=>model.CuocGiaTri)").val(cuocphi);
                                                    $('#@Html.FieldIdFor(model => model.CuocGiaTri)').siblings('input:visible').focus();
                                                })
                                                $(".hanggiatri").click(function () {

                                                    var gia = $("#giahanggiatri").val();
                                                    var value = parseInt($(this).val());
                                                    switch (value) {
                                                        case @((int)ENLoaiHangGiaTri.HANG_DUOI_5_TRIEU_1):
                                                            {
                                                                var cuoc = gia*0.01;
                                                                $("#@Html.FieldIdFor(model=>model.CuocGiaTri)").val(cuoc);
                                                                $('#@Html.FieldIdFor(model => model.CuocGiaTri)').siblings('input:visible').focus();
                                                                break;
                                                            }
                                                        case @((int)ENLoaiHangGiaTri.HANG_DUOI_5_TRIEU_2):
                                                            {
                                                                var cuoc = gia*0.015;
                                                                $("#@Html.FieldIdFor(model=>model.CuocNhanTanNoi)").val(cuoc);
                                                                $('#@Html.FieldIdFor(model => model.CuocGiaTri)').siblings('input:visible').focus();
                                                                break;
                                                            }
                                                        case @((int)ENLoaiHangGiaTri.HANG_TREN_5_TRIEU):
                                                            {
                                                                var cuoc = gia*0.01;
                                                                $("#@Html.FieldIdFor(model=>model.CuocNhanTanNoi)").val(cuoc);
                                                                $('#@Html.FieldIdFor(model => model.CuocGiaTri)').siblings('input:visible').focus();
                                                                break;
                                                            }
                                                    }
                                                })
                                            });
                                        </script>

                                        <tr>
                                            <td>
                                                Vượt tuyến:
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.CuocVuotTuyen)
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>
                    </td>
                    <td style="vertical-align:top;padding:5px;" class="phieuchuyenphat_border_td">
                        <table style="width:100%">
                            <tr>
                                <td style="text-align:left">Tổng cước phải thanh toán:</td>
                                <td style="text-align:left"><span class="phieuchuyenphat_tien" id="spTongCuocPhaiThanhToan"></span></td>
                            </tr>
                            <tr>
                                <td style="text-align:left">Đã thanh toán</td>
                                <td style="text-align:left"><input type="checkbox" id="dathanhtoan" /></td>
                            </tr>
                            <tr>
                                <td>Tổng cước đã thanh toán:</td>
                                <td>
                                    @Html.EditorFor(model => model.TongCuocDaThanhToan)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:left;padding-left:20px;"><span class="phieuchuyenphat_tien" id="spTongCuocDaThanhToan"></span></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border-top:1px dotted #808080;padding-top:10px" colspan="2">
                                    Tổng cước chưa thanh toán: <span class="phieuchuyenphat_tien" id="spTongCuocChuaThanhToan">0 đ</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center;border-top:1px dotted #808080;padding-top:20px" colspan="2">
                                    Nhân viên giao dịch:  <strong>@Model.TenNhanvienGiaoDich</strong>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:left;border-bottom:1px solid #531010;">
            <h3><span style="color:red">CHỌN</span> VĂN PHÒNG TRẢ HÀNG</h3>
            <hr style="border:1px dashed #531010" />
            <table style="width:100%">
                <tr>
                    @foreach (var kv in Model.khuvucvanphongs)
                    {
                        <td style="text-align:left; width:@(_widthkhuvucvanphong)%;vertical-align:top;border-right:1px dashed green">
                            <div style="text-align:center;width:100%;margin-bottom:10px;">
                                <strong>@kv.TenKhuVuc</strong><br />
                            </div>

                            @foreach (var vp in kv.vanphongs)
                            {
                                if (vp.Id != Model.VanPhongGuiId)
                                {
                                    if (vp.Id == Model.VanPhongNhanId)
                                    {
                                        <text>
                                            <input type="radio" name="rdVanPhongNhan" value="@vp.Id" checked="checked" /> @(vp.TenVanPhong)<br />
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            <input type="radio" name="rdVanPhongNhan" value="@vp.Id" /> @(vp.TenVanPhong)<br />
                                        </text>
                                    }

                                }
                                else
                                {
                                    <text>
                                        <span style="color:#7d0909;font-weight:bold">* @(vp.TenVanPhong)</span><br />
                                    </text>
                                }

                            }
                        </td>
                    }
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">

            @if (Model.Id > 0)
            {
                if (Model.DaIn == 0)
                {
                    <text>
                        <input type="button" id="btnCapNhat" class="k-button" value="@_lbcapnhat" /> &nbsp; &nbsp;
                    </text>
                }
                else
                {
                    <text>
                        <span style="font-weight:bold;color:red">Phiếu đã in không được phép sửa</span> &nbsp; &nbsp;
                    </text>
                }

                <input type="button" id="btnXoaPhieu" class="k-button" value="Xóa phiếu" />
            }
            else
            {
                <input type="button" id="btnCapNhat" class="k-button" value="@_lbcapnhat" />
            }
        </td>
    </tr>
</table>
<div id="tabEditToVanChuyen" style="display:none"></div>
<script>
    function OpenEditToVanChuyen() {
        var WindowTaoMoi = $("#tabEditToVanChuyen");
        WindowTaoMoi.html("");
        if (WindowTaoMoi.data("kendoWindow"))
            WindowTaoMoi.data("kendoWindow").destroy();
        var tovcid = $("#@Html.FieldIdFor(m=>m.ToVanChuyenNhanId)").val();
        var nguoivcid = $("#@Html.FieldIdFor(m => m.NguoiVanChuyenNhanId)").val();
        WindowTaoMoi.kendoWindow({
            modal: true,
            width: "500px",
            height: "250px",
            title: "Thông tin vận chuyển tận nơi",
            content: "@(Url.Action("_ToVanChuyenNhanHang", "HangHoa"))" + "?ToVanChuyenNhanId=" + tovcid + "&NguoiVanChuyenNhanId=" + nguoivcid,
            actions: ["Close"]
        });

        WindowTaoMoi.data('kendoWindow').center().open();
    }
    function CloseEditToVanChuyen(tovcid, nguoivcid) {
        $("#tabEditToVanChuyen").data("kendoWindow").close();
        $("#@Html.FieldIdFor(m=>m.ToVanChuyenNhanId)").val(tovcid);
        $("#@Html.FieldIdFor(m => m.NguoiVanChuyenNhanId)").val(nguoivcid);
        $('#@Html.FieldIdFor(model => model.CuocTanNoi)').siblings('input:visible').focus();
    }

    $(document).ready(function () {
        var numerictextbox = $("#@Html.FieldIdFor(model => model.TongCuocDaThanhToan)").data("kendoNumericTextBox");
        $("#@Html.FieldIdFor(model => model.TongCuocDaThanhToan)").keydown(function(event){
            if(event.keyCode==13){
                //var value = this.value();
                var value=$("#@Html.FieldIdFor(model => model.TongCuocDaThanhToan)").val();
                ShowSoTienBangChu('spTongCuocDaThanhToan', value); //value is the selected date in the numerictextbox
                @*var CuocPhi = parseInt($("#@Html.FieldIdFor(m=>m.CuocPhi)").val());*@
                var tongcuoc=0;
                for(var i=0;i<thongtinhangs.length;i++){
                    tongcuoc=tongcuoc+parseInt(thongtinhangs[i].giatien);
                }
                var CuocPhi=tongcuoc;
                var CuocTanNoi = parseInt($("#@Html.FieldIdFor(m => m.CuocTanNoi)").val());
                var CuocNhanTanNoi = parseInt($("#@Html.FieldIdFor(m => m.CuocNhanTanNoi)").val());
                var CuocGiaTri = parseInt($("#@Html.FieldIdFor(m => m.CuocGiaTri)").val());
                var CuocVuotTuyen = parseInt($("#@Html.FieldIdFor(m => m.CuocVuotTuyen)").val());
                var CuocVCTND = parseInt($("#@Html.FieldIdFor(m=>m.CuocVCTND)").val());
                var TongCuoc = parseInt(value);
                var sotienconlai = CuocPhi + CuocTanNoi + CuocNhanTanNoi  + CuocGiaTri + CuocVuotTuyen  - TongCuoc;
                sotienconlai = sotienconlai;
                $("#spTongCuocChuaThanhToan").html(kendo.toString(sotienconlai, "n0") + " đ");
                if (_cuocvuottuyen > 0 && sotienconlai != 0) {
                    alert("Phải thanh toán trước đối với hàng nhận tận nơi và vượt tuyến");

                    return;
                }
            }

        });

        @* numerictextbox.bind("change", function () {
            var value = this.value();
            ShowSoTienBangChu('spTongCuocDaThanhToan', value); //value is the selected date in the numerictextbox
            var CuocPhi = parseInt($("#@Html.FieldIdFor(m=>m.CuocPhi)").val());
            var CuocTanNoi = parseInt($("#@Html.FieldIdFor(m => m.CuocTanNoi)").val());
            var CuocNhanTanNoi = parseInt($("#@Html.FieldIdFor(m => m.CuocNhanTanNoi)").val());
            var CuocGiaTri = parseInt($("#@Html.FieldIdFor(m => m.CuocGiaTri)").val());
            var CuocVuotTuyen = parseInt($("#@Html.FieldIdFor(m => m.CuocVuotTuyen)").val());
            var CuocVCTND = parseInt($("#@Html.FieldIdFor(m=>m.CuocVCTND)").val());
            var TongCuoc = parseInt(value);
            var sotienconlai = CuocPhi + CuocTanNoi + CuocNhanTanNoi  + CuocGiaTri + CuocVuotTuyen  - TongCuoc;
            sotienconlai = sotienconlai;
            $("#spTongCuocChuaThanhToan").html(kendo.toString(sotienconlai, "n0") + " đ");
            if (_cuocvuottuyen > 0 && sotienconlai != 0) {
                alert("Phải thanh toán trước đối với hàng nhận tận nơi và vượt tuyến");

                return;
            }
        });*@
        function ShowTienCuoc(thongtinhang,show){
            var cuocphi1=$("#trongluong").val()*1500;
            var cuocphi2=$("#chieurong").val()*$("#chieudai").val()*$("#chieucao").val()/6000*1500;
            console.log(thongtinhang);
            var soluong=thongtinhang.soluong;
            if(cuocphi1>cuocphi2){
                cuocphi1=cuocphi1*soluong;
                thongtinhang.giatien=cuocphi1;
                $("#@Html.FieldIdFor(model=>model.CuocPhi)").val(cuocphi1);
                if(show)
                    $('#@Html.FieldIdFor(model => model.CuocPhi)').siblings('input:visible').focus();
            }
            else{
                cuocphi2=cuocphi2*soluong;
                thongtinhang.giatien=cuocphi2;
                $("#@Html.FieldIdFor(model=>model.CuocPhi)").val(cuocphi2);
                if(show)
                    $('#@Html.FieldIdFor(model => model.CuocPhi)').siblings('input:visible').focus();
            }

        }
        function ShowSoTienPhaiThanhToan(thongtinhangs) {
            @*var CuocPhi = parseInt($("#@Html.FieldIdFor(m=>m.CuocPhi)").val());*@
            console.log(thongtinhangs);
            var tongcuoc=0;
            for(var i=0;i<thongtinhangs.length;i++){
                tongcuoc=tongcuoc+parseInt(thongtinhangs[i].giatien);
            }
            var CuocPhi=tongcuoc;
            var CuocTanNoi = parseInt($("#@Html.FieldIdFor(m => m.CuocTanNoi)").val());
            var CuocNhanTanNoi = parseInt($("#@Html.FieldIdFor(m => m.CuocNhanTanNoi)").val());
            var CuocGiaTri = parseInt($("#@Html.FieldIdFor(m => m.CuocGiaTri)").val());
            var CuocVuotTuyen = parseInt($("#@Html.FieldIdFor(m => m.CuocVuotTuyen)").val());
            var CuocVCTND = parseInt($("#@Html.FieldIdFor(m=>m.CuocVCTND)").val());
            var TongCuoc = CuocPhi + CuocTanNoi  + CuocGiaTri + CuocVuotTuyen + CuocNhanTanNoi;
            TongCuoc = TongCuoc;
            $("#spTongCuocPhaiThanhToan").html(kendo.toString(TongCuoc, "n0") + " đ");
        }
        var thongtinhangs=[];
        var thongtinhang={
            tenhang:"",
            soluong:0,
            giatien:0
        };
        function getPhieuChuyenPhatTinhChatHangCheck() {
            var _ret = "";
            $('.TinhChatHang').each(function () {
                if (this.checked) {
                    var _id = $(this).val();
                    if (_ret == "")
                        _ret = _id;
                    else
                        _ret = _ret + "," + _id;
                }
            });
            return _ret;
        }
        function getPhieuChuyenPhatLoaiHangCheck() {
            var _ret = "";
            $('.LoaiHang').each(function () {
                if (this.checked) {
                    var _id = $(this).val();
                    if (_ret == "")
                        _ret = _id;
                    else
                        _ret = _ret + "," + _id;
                }
            });
            return _ret;
        }
        //ShowSoTienPhaiThanhToan(thongtinhangs);
        $("#themmoihang").click(function(){
            $("#@Html.FieldIdFor(m=>m.TenHang)").val("");
            $("#@Html.FieldIdFor(m=>m.CuocPhi)").val("0");
            $("#soluong").val("0");
            $("#trongluong").val("0");
            $("#chieudai").val("0");
            $("#chieurong").val("0");
            $("#chieucao").val("0");
        })
        $("#@Html.FieldIdFor(m=>m.TenHang)").change(function(){
            thongtinhang.tenhang=$(this).val();
        });
        $("#soluong").change(function(){
            var soluong=$(this).val();
            thongtinhang.soluong=soluong;
            var cuocphi=thongtinhang.giatien;
            cuocphi=cuocphi*soluong;
            $("#@Html.FieldIdFor(model=>model.CuocPhi)").val(cuocphi);
            console.log(thongtinhang);
        });
        $(".hangkhongquydoi").click(function(){
            var val = $(this).val();
            var soluong=thongtinhang.soluong;
            val=val*soluong;
            thongtinhang.giatien=val;
            $("#@Html.FieldIdFor(model=>model.CuocPhi)").val(val);
            $('#@Html.FieldIdFor(model => model.CuocPhi)').siblings('input:visible').focus();
            console.log(thongtinhang);

        });
        $("#luuthongtinhang").click(function(){
            thongtinhangs.push(thongtinhang);
            var tongcuoc=0;
            for(var i=0;i<thongtinhangs.length;i++){
                tongcuoc=tongcuoc+parseInt(thongtinhangs[i].giatien);
            }
            $("#tongcuoc").html(tongcuoc);
            ShowSoTienPhaiThanhToan(thongtinhangs);
            thongtinhang={
                tenhang:"",
                soluong:0,
                giatien:0
            };
        });
        $("#@Html.FieldIdFor(m=>m.CuocPhi)").change(function(){
            var val = $(this).val();
            thongtinhang.giatien=val;
        })
        $("#trongluong").keydown(function (event) {
            if (event.keyCode == 13) {
                ShowTienCuoc(thongtinhang,false);
                $('#chieudai').siblings('input:visible').focus();
                return false;
            }
        });
        $("#trongluong").change(function(){
            ShowTienCuoc(thongtinhang,false);
            $('#chieudai').siblings('input:visible').focus();
            return false;
        })
        $("#chieudai").keydown(function (event) {
            if (event.keyCode == 13) {
                ShowTienCuoc(thongtinhang,false);
                $('#chieurong').siblings('input:visible').focus();
                return false;
            }
        });
        $("#chieudai").change(function(){
            ShowTienCuoc(thongtinhang,false);
            $('#chieurong').siblings('input:visible').focus();
            return false;
        })
        $("#chieurong").keydown(function (event) {
            if (event.keyCode == 13) {
                ShowTienCuoc(thongtinhang,false);
                $('#chieucao').siblings('input:visible').focus();
                return false;
            }
        });
        $("#chieurong").change(function(){
            ShowTienCuoc(thongtinhang,false);
            $('#chieucao').siblings('input:visible').focus();
            return false;
        })
        $("#chieucao").keydown(function (event) {
            if (event.keyCode == 13) {
                ShowTienCuoc(thongtinhang,false);
                $('#chieudai').siblings('input:visible').focus();
                return false;
            }
        });
        $("#chieucao").change(function(){
            ShowTienCuoc(thongtinhang,true);
            $('#chieucao').siblings('input:visible').focus();
            return false;
        })
        ShowSoTienBangChu('spTongCuocDaThanhToan', '@(Model.TongCuocDaThanhToan)');
        $('#btnCapNhat').click(function () {
            //kiem tra thong tin du lieu
            var tongcuoc=0;
            for(var i=0;i<thongtinhangs.length;i++){
                tongcuoc=tongcuoc+parseInt(thongtinhangs[i].giatien);
            }
            var tongcuocdathanhtoan = 0;
            if ($('input#dathanhtoan').is(':checked')){
                tongcuocdathanhtoan=tongcuoc;
            }else{
                tongcuocdathanhtoan= parseInt($("#@Html.FieldIdFor(m=>m.TongCuocDaThanhToan)").val());
            }
            var _vanphongnhanid = $("input[name=rdVanPhongNhan]:checked").val();
            var _dienthoaigui = $('#cbbSearchNguoiGui').data("kendoComboBox").text();
            var _dienthoainhan = $('#cbbSearchNguoiNhan').data("kendoComboBox").text();
            var _cuocntn = parseInt($("#@Html.FieldIdFor(m => m.CuocNhanTanNoi)").val());
            var _tovanchuyennhanid = parseInt($("#@Html.FieldIdFor(m => m.ToVanChuyenNhanId)").val());
            var _cuocdatt = parseInt($("#@Html.FieldIdFor(m => m.TongCuocDaThanhToan)").val());
            var _cuocvuottuyen = parseInt($("#@Html.FieldIdFor(m => m.CuocVuotTuyen)").val());
            @*var _cuocphi = parseInt($("#@Html.FieldIdFor(m => m.CuocPhi)").val());*@
            var _cuocphi = tongcuoc;
            var _cuoctannoi = parseInt($("#@Html.FieldIdFor(m => m.CuocTanNoi)").val());
            var _cuocgiatri = parseInt($("#@Html.FieldIdFor(m => m.CuocGiaTri)").val());
            var _cuocvctnd = parseInt($("#@Html.FieldIdFor(m=>m.CuocVCTND)").val());
            var _thongtinhang=JSON.stringify(thongtinhangs);
            var _tinhchathangs = getPhieuChuyenPhatTinhChatHangCheck();
            var _loaihangs=getPhieuChuyenPhatLoaiHangCheck();
            console.log(_thongtinhang);
            if (_vanphongnhanid == null) {
                alert("Bạn chưa chọn văn phòng nhận!")
                $("input[name=rdVanPhongNhan]").focus();
                return;
            }
            if (_dienthoaigui == "") {
                alert("Bạn chưa nhập điện thoại người gửi!");
                $('#cbbSearchNguoiGui').data("kendoComboBox").input.focus();
                return;
            }
            if ($("#PCP_NguoiGui_HoTen").val() == "") {
                alert("Bạn chưa nhập tên người gửi!");
                $("#PCP_NguoiGui_HoTen").focus();
                return;
            }
            if (_dienthoainhan == "") {
                alert("Bạn chưa nhập điện thoại người nhận!");
                $('#cbbSearchNguoiNhan').data("kendoComboBox").input.focus();
                return;
            }
            if ($("#PCP_NguoiNhan_HoTen").val() == "") {
                alert("Bạn chưa nhập tên người nhận!");
                $("#PCP_NguoiNhan_HoTen").focus();
                return;
            }

            if ($("#@Html.FieldIdFor(m=>m.TenHang)").val() == "") {
                alert("Bạn chưa nhập thông tin hàng hóa!");
                $("#@Html.FieldIdFor(m=>m.TenHang)").focus();
                return;
            }
            if (_cuocphi == 0) {
                alert("Bạn chưa nhập cước phí!");
                $("#@Html.FieldIdFor(m=>m.CuocPhi)").focus();
                return;
            }
            @*if (_cuocntn > 0 && (_tovanchuyennhanid == null || _tovanchuyennhanid == 0)) {

                alert("Bạn chưa gán tổ vận chuyển nhận hàng tận nơi >> trỏ chuột vào ô cước nhận tận nơi và enter để gán");
                $("#@Html.FieldIdFor(m=>m.CuocNhanTanNoi)").focus();
                return;
            }*@
            if (_cuocvuottuyen > 0 && (_cuocphi + _cuoctannoi + _cuocntn  + _cuocgiatri + _cuocvuottuyen  - _cuocdatt != 0)) {
                alert("Phải thanh toán trước đối với hàng vượt tuyến");

                return;
            }

            var _ngaytao = ConvertDateTimeSystem($('#@Html.FieldIdFor(model => model.NgayTao)').val());
            var _data = {
                "Id": '@Model.Id',
                "NguoiGui.Id": $("#@Html.FieldIdFor(m=>m.NguoiGuiId)").val(),
                "NguoiGui.HoTen": $("#PCP_NguoiGui_HoTen").val(),
                "NguoiGui.DiaChi": $("#PCP_NguoiGui_DiaChi").val(),
                "NguoiGui.SoDienThoai": _dienthoaigui,
                "NguoiNhan.Id": $("#@Html.FieldIdFor(m => m.NguoiNhanId)").val(),
                "NguoiNhan.HoTen": $("#PCP_NguoiNhan_HoTen").val(),
                "NguoiNhan.DiaChi": $("#PCP_NguoiNhan_DiaChi").val(),
                "NguoiNhan.SoDienThoai": _dienthoainhan,
                "VanPhongNhanId": _vanphongnhanid,
                "TenHang": $("#@Html.FieldIdFor(m=>m.TenHang)").val(),
                "CuocPhi": _cuocphi,
                "CuocTanNoi": $("#@Html.FieldIdFor(m=>m.CuocTanNoi)").val(),
                "CuocGiaTri": $("#@Html.FieldIdFor(m=>m.CuocGiaTri)").val(),
                "CuocVuotTuyen": $("#@Html.FieldIdFor(m=>m.CuocVuotTuyen)").val(),
                "CuocVCTND":$("#@Html.FieldIdFor(m=>m.CuocVCTND)").val(),
                "TongCuocDaThanhToan": tongcuocdathanhtoan,
                "NgayNhanHang": _ngaytao,
                "CuocNhanTanNoi": $("#@Html.FieldIdFor(m=>m.CuocNhanTanNoi)").val(),
                "ToVanChuyenNhanId": $("#@Html.FieldIdFor(m=>m.ToVanChuyenNhanId)").val(),
                "NguoiVanChuyenNhanId": $("#@Html.FieldIdFor(m=>m.NguoiVanChuyenNhanId)").val(),
                "ThongTinHang":_thongtinhang,
                "SelectedTinhChatHang":_tinhchathangs,
                "SelectedLoaiHang":_loaihangs
            };

            $('#btnCapNhat').prop('disabled', true);
            $.ajax({
                cache: false,
                type: "POST",
                data: _data,
                dataType: 'json',
                url: "@(Url.Action("PhieuChuyenPhatChinhSua", "HangHoa"))",
                success: function (data) {
                    if (data == "OK") {
                        LoadPhieuPhatNhanh(0);
                        LoadDanhSach();
                    }
                    else {
                        alert(data);
                    }
                    $('#btnCapNhat').prop('disabled', false);

                },
            });

        });
        $('#btnXoaPhieu').click(function () {
            if (!confirm("Bạn có chắc chắn xóa phiếu chuyển phát này không ?"))
                return;
            $.ajax({
                cache: false,
                type: "POST",
                data: { "Id": '@Model.Id' },
                dataType: 'json',
                url: "@(Url.Action("PhieuChuyenPhatXoa", "HangHoa"))",
                success: function (data) {
                    if (data == "OK") {
                        alert("Xóa phiếu thành công!");
                        LoadPhieuPhatNhanh(0);
                        LoadDanhSach();
                    }
                    else {
                        alert(data);
                    }

                },
            });
        });
        //tao phim enter
        setTimeout(function () {
            $('#cbbSearchNguoiGui').data("kendoComboBox").input.focus();

        }, 500);

        $("input[name=rdVanPhongNhan]").keydown(function (event) {
            if (event.keyCode == 13) {
                $('#btnCapNhat').focus();
                return false;
            }
        });
        $('#cbbSearchNguoiGui').data("kendoComboBox").input.keydown(function (event) {
            if (event.keyCode == 13) {
                var _dienthoai = $('#cbbSearchNguoiGui').data("kendoComboBox").text();
                if (_dienthoai != "")
                    $("#PCP_NguoiGui_HoTen").focus();
                return false;
            }
        });
        $("#PCP_NguoiGui_HoTen").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#PCP_NguoiGui_DiaChi").focus();
                return false;
            }
        });
        $("#PCP_NguoiGui_DiaChi").keydown(function (event) {
            if (event.keyCode == 13) {
                $('#cbbSearchNguoiNhan').data("kendoComboBox").input.focus();
                return false;
            }
        });
        $('#cbbSearchNguoiNhan').data("kendoComboBox").input.keydown(function (event) {
            if (event.keyCode == 13) {
                var _dienthoai = $('#cbbSearchNguoiNhan').data("kendoComboBox").text();
                if (_dienthoai != "")
                    $("#PCP_NguoiNhan_HoTen").focus();
                return false;
            }
        });
        $("#PCP_NguoiNhan_HoTen").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#PCP_NguoiNhan_DiaChi").focus();
                return false;
            }
        });
        $("#PCP_NguoiNhan_DiaChi").keydown(function (event) {
            if (event.keyCode == 13) {
                $('#@Html.FieldIdFor(m=>m.TenHang)').focus();
                return false;
            }
        });
        $("#@Html.FieldIdFor(m=>m.TenHang)").keydown(function (event) {
            if (event.keyCode == 13) {
                $('#@Html.FieldIdFor(model => model.CuocPhi)').siblings('input:visible').focus();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.CuocPhi)").focus(function () {
            var input = $(this);
            setTimeout(function () {
                input.select();
            });
        });
        $("#@Html.FieldIdFor(model => model.CuocPhi)").keydown(function (event) {
            if (event.keyCode == 13) {
                ShowSoTienPhaiThanhToan(thongtinhangs);
                $('#@Html.FieldIdFor(model => model.CuocNhanTanNoi)').siblings('input:visible').focus();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.CuocNhanTanNoi)").focus(function () {
            var input = $(this);
            setTimeout(function () {
                input.select();
            });
        });
        $("#@Html.FieldIdFor(model => model.CuocNhanTanNoi)").keydown(function (event) {
            if (event.keyCode == 13) {
                ShowSoTienPhaiThanhToan(thongtinhangs);
                var _cuocntn = parseInt($("#@Html.FieldIdFor(m => m.CuocNhanTanNoi)").val());
                //if (_cuocntn > 0) {
                //    OpenEditToVanChuyen();
                //}
                //else
                $('#@Html.FieldIdFor(model => model.CuocTanNoi)').siblings('input:visible').focus();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.CuocTanNoi)").focus(function () {
            var input = $(this);
            setTimeout(function () {
                input.select();
            });
        });
        $("#@Html.FieldIdFor(model => model.CuocTanNoi)").keydown(function (event) {
            if (event.keyCode == 13) {
                ShowSoTienPhaiThanhToan(thongtinhangs);
                $('#@Html.FieldIdFor(model => model.CuocGiaTri)').siblings('input:visible').focus();
                return false;
            }
        });

        $("#@Html.FieldIdFor(model => model.CuocGiaTri)").focus(function () {
            var input = $(this);
            setTimeout(function () {
                input.select();
            });
        });
        $("#@Html.FieldIdFor(model => model.CuocGiaTri)").keydown(function (event) {
            if (event.keyCode == 13) {
                ShowSoTienPhaiThanhToan(thongtinhangs);
                $('#@Html.FieldIdFor(model => model.CuocVuotTuyen)').siblings('input:visible').focus();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.CuocVuotTuyen)").focus(function () {
            var input = $(this);
            setTimeout(function () {
                input.select();
            });
        });
        $("#@Html.FieldIdFor(model => model.CuocVuotTuyen)").keydown(function (event) {
            if (event.keyCode == 13) {
                ShowSoTienPhaiThanhToan(thongtinhangs);
                $('#@Html.FieldIdFor(model => model.CuocVCTND)').siblings('input:visible').focus();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.CuocVCTND)").focus(function () {
            var input = $(this);
            setTimeout(function () {
                input.select();
            });
        });
        $("#@Html.FieldIdFor(model => model.CuocVCTND)").keydown(function (event) {
            if (event.keyCode == 13) {
                ShowSoTienPhaiThanhToan(thongtinhangs);
                $('#@Html.FieldIdFor(model => model.TongCuocDaThanhToan)').siblings('input:visible').focus();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.TongCuocDaThanhToan)").focus(function () {
            var input = $(this);
            setTimeout(function () {
                input.select();
            });
        });
        $("#@Html.FieldIdFor(model => model.TongCuocDaThanhToan)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("input[name=rdVanPhongNhan]").focus();
                return false;
            }
        });
    });

</script>
<style>
    .phieuchuyenphat_border_td {
        border: 1px solid #808080;
    }

    .phieuchuyenphat_tien {
        font-weight: bold;
        color: #531010;
    }
</style>