@model ToVanChuyenModel
@using Nop.Web.Models.ChuyenPhatNhanh
<table style="width:100%">
    <tr>
        <td style="text-align:left;border-bottom:2px dashed #531010">
            <table style="width:100%">
                <tr>
                    <td>
                        <h3>Cập nhật thông tin vận chuyển tận nơi</h3>
                    </td>                    
                </tr>
            </table>
            
        </td>
    </tr>    
    <tr>
        <td>
            <table style="width:100%" cellpadding="2" cellspacing="2">
                <tr>
                    <td style="text-align:left;">
                        Tổ vẩn chuyển:
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.ToVanChuyenIdSelect, Model.tovanchuyens)
                    </td>
                </tr>
                <tr>
                    <td style="width:120px;text-align:left">
                        Người vận chuyển:
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.NguoiVanChuyenId, Model.nguoivanchuyens)
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td style="text-align:left">
                        <input type="button" id="btnCapNhat_TVCEDIT" class="k-button" value="Cập nhật" />&nbsp;&nbsp;
                        <input type="button" id="btnXoa_TVCEDIT" class="k-button" value="Xóa thiết đặt" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
</table>
<script>
    function LoadNguoiVanChuyens() {
        var ddltemp = $("#@Html.FieldIdFor(model => model.NguoiVanChuyenId)");
        var _tovcid = $("#@Html.FieldIdFor(model => model.ToVanChuyenIdSelect)").val();
        var adddata = {
            "ToVanChuyenId": _tovcid
        }
        $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.Action("GetNguoiVanChuyens", "HangHoa"))",
            data: adddata,
        success: function (data) {
            ddltemp.html('');
            $.each(data, function (id, option) {
                ddltemp.append($('<option></option>').val(option.Value).html(option.Text));
            });
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert('Failed to retrieve states.');
        }
    });
    }
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.ToVanChuyenIdSelect)").change(function () {
            LoadNguoiVanChuyens();
        });
        $('#btnCapNhat_TVCEDIT').click(function () {
            //kiem tra thong tin du lieu
            var _nvcid = $("#@Html.FieldIdFor(m => m.NguoiVanChuyenId)").val();
            if (_nvcid == null)
            {
                alert("Bạn chưa chọn thông tin người vận chuyển");
                return;
            }            
            var _data = {
                "phieubiennhanids": '@Model.phieubiennhanids',
                "ToVanChuyenIdSelect": $("#@Html.FieldIdFor(m => m.ToVanChuyenIdSelect)").val(),
                "NguoiVanChuyenId": $("#@Html.FieldIdFor(m => m.NguoiVanChuyenId)").val(),
            };

            $('#btnCapNhat_TVCEDIT').prop('disabled', true);
            $.ajax({
                cache: false,
                type: "POST",
                data: _data,
                dataType: 'json',
                url: "@(Url.Action("_ToVanChuyenTraHang", "HangHoa"))",
                success: function (data) {
                    CloseEditToVanChuyen();                    
                    $('#btnCapNhat_TVCEDIT').prop('disabled', false);

                },
            });

        });
        $('#btnXoa_TVCEDIT').click(function () {
            if (!confirm("Bạn có chắc chắn xóa thông tin tổ và người vận chuyển không ?"))
                return;
            $.ajax({
                cache: false,
                type: "POST",
                data: { "phieubiennhanids": '@Model.phieubiennhanids' },
                dataType: 'json',
                url: "@(Url.Action("_ToVanChuyenHuyTraHang", "HangHoa"))",
                success: function (data) {
                    if (data == "OK") {
                        alert("Hủy thông tin thành công!");

                    }
                    else {
                        alert(data);
                    }

                },
            });
        });

    });

</script>
