@model ListPhieuModel
@using Nop.Web.Models.ChuyenPhatNhanh
@using Nop.Core.Domain.NhaXes
@using Nop.Core.Infrastructure
@{
    Layout = "~/Views/Shared/_NhaXeLayout.cshtml";
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
}

<table style="width:100%">
    <tr>
        <td style="text-align:left;border-right:2px solid #808080;border-bottom:2px solid #808080; ">
            <span style="font-weight:bold;font-size:15px">Danh sách phiếu chuyển phát nhanh - Trả hàng cho khách</span> [<span style="color:red;font-style:italic">Bạn đang thao tác tại văn phòng: <strong>@Model.TenVanPhongHienTai</strong></span>]
        </td>
    </tr>
    <tr>
        <td>
            <table style="width:100%">
                <tr>
                    <td>
                        <table style="width:100%">
                            <tr>
                                <td style="text-align:right;width:80px;">
                                    Ngày ký gửi:
                                </td>
                                <td style="width:120px;">
                                    @Html.EditorFor(m => m.NgayTao)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.HangHoaInfo, new { placeholder = "Thông tin người gửi, nhận, tên hàng...", @style = "width:65%" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.ThongTinChuyen, new { placeholder = "Biển số, lái phụ xe...", @style = "width:65%" })
                                </td>
                                <td style="width:120px;">
                                    @Html.DropDownListFor(m => m.TrangThaiId, Model.trangthais)
                                </td>
                                <td style="width:120px;">
                                    @Html.DropDownListFor(model => model.VanPhongNhanId, Model.VanPhongs)
                                </td>
                                <td style="width:120px;">
                                    <input type="button" id="btnTimKiem" class="k-button" value="Lọc" style="width:100%" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">

                        <div id="actTraHang" style="width:100%">
                            @Html.CheckBoxFor(m => m.isCoCuocTanNoi) Chỉ lấy phiếu có cước tận nơi &nbsp;&nbsp;

                            <a id="lnkInPhieu" href="javascript:OpenInPhieuTra()" class="k-button">Phiếu trả hàng</a>&nbsp;

                            <script>

                                function OpenInPhieuTra() {
                                    var ids = getPhieuChuyenPhatCheck(false);
                                    if ($('#@Html.FieldIdFor(model => model.isCoCuocTanNoi)').is(":checked")) {
                                        ids = getPhieuChuyenPhatCheck(true);
                                    }
                                    var urlopen = "/HangHoa/InPhieuTraHang?SelectIds=" + ids;
                                    window.open(urlopen, '_blank');


                                }
                            </script>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="phieuchuyenphat-grid"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div id="tabEditToVanChuyen" style="display:none"></div>
<script>

    function LoadDanhSachPhieuChuyenPhat() {
        var _ngaytao = ConvertDateTimeSystem($('#@Html.FieldIdFor(model => model.NgayTao)').val());
        var _trangthaiid = $('#@Html.FieldIdFor(model => model.TrangThaiId)').val();
        var isCoCuocTanNoi = "false";
        if ($('#@Html.FieldIdFor(model => model.isCoCuocTanNoi)').is(":checked")) {
            isCoCuocTanNoi = "true";
        }
        var dataadd = {
            HangHoaInfo: $('#@Html.FieldIdFor(model => model.HangHoaInfo)').val(),
            NgayTao: _ngaytao,
            TrangThaiId: $('#@Html.FieldIdFor(model => model.TrangThaiId)').val(),
            VanPhongNhanId: $('#@Html.FieldIdFor(model => model.VanPhongNhanId)').val(),
            isTraHang: 'true',
            isCoCuocTanNoi: isCoCuocTanNoi,
            ThongTinChuyen: $('#@Html.FieldIdFor(model => model.ThongTinChuyen)').val(),
        };

        $("#phieuchuyenphat-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("_PhieuChuyenPhatPageList", "HangHoa"))",
                        type: "POST",
                        dataType: "json",
                        data: dataadd
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)],
                messages: {
                    display: "@T("Nop.Common.KendoGrid.display")", //{0} is the index of the first record on the page, {1} - index of the last record on the page, {2} is the total amount of records
                    empty: "@T("Nop.Common.KendoGrid.Empty")",
                    page: "@T("Nop.Common.KendoGrid.Page")",
                    of: "@T("Nop.Common.KendoGrid.Of")", //{0} is total amount of pages
                    itemsPerPage: "@T("Nop.Common.KendoGrid.itemsPerPage")",
                    first: "@T("Nop.Common.KendoGrid.first")",
                    previous: "@T("Nop.Common.KendoGrid.previous")",
                    next: "@T("Nop.Common.KendoGrid.next")",
                    last: "@T("Nop.Common.KendoGrid.last")",
                    refresh: "@T("Nop.Common.KendoGrid.refresh")"
                }
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: true,
            columns: [{
            field: "MaPhieu",
            title: "Mã phiếu",
            attributes: { style: "text-align:center" },
            template: '<a href="javascript:ViewPBN(#=Id#)">#=MaPhieu#</a>'
        }, {
            field: "ThongTinXe",
            title: "Thông tin xe",
            width: "400px",
        }, {
            field: "NguoiGui.HoTen",
            title: "Tên người gửi",
            template: "#=NguoiGui.HoTen#(#=NguoiGui.SoDienThoai#)"
        }, {
            field: "NguoiNhan.HoTen",
            title: "Tên người nhận",
            template: "#=NguoiNhan.HoTen#(#=NguoiNhan.SoDienThoai#)"
        }, {
            field: "TenHang",
            title: "Thông tin"
        }, {
            field: "TrangThaiText",
            title: "Trạng thái"
        }, {
            field: "NgayTao",
            title: "Ngày tạo",
            type: "date",
            format: "{0:dd-MM-yyyy HH:mm:ss}",
            attributes: { style: "text-align:center" },

        }, {
            field: "DaSMS",
            title: "SMS",
            template: '#=DaSMS==0?"Chưa":"Đã SMS("+DaSMS+")"#',
            attributes: { style: "text-align:center" },
            headerAttributes: { style: "text-align: center;" }
        }, {
            field: "TenToVanChuyenTra",
            title: "V/c tận nơi",
            template: '#=CuocTanNoi==0?"Không có": (ToVanChuyenTraId==0?"<span style=\'color:red\'>Chưa thiết đặt</span>": TenToVanChuyenTra+"("+TenNguoiVanChuyenTra+")")#',
            attributes: { style: "text-align:center" },
            headerAttributes: { style: "text-align: center;" }
        }, {
            field: "Id",
            headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
            headerAttributes: { style: "text-align:center" },
            title: "&nbsp;",
            width: 50,
            attributes: { style: "text-align:center" },
            template: '#=(TrangThaiId==4||TrangThaiId==3)?"<input type=\'checkbox\' data-id="+Id+" class=\'phieuchuyenphat_checkbox\' />":""# '
        }, {
            field: "Id",
            title: "Xóa",
            attributes: { style: "text-align:center" },
            template: '<a href="javascript:xoaPhieuBienNhan(#=Id#)">@T("Admin.Common.Delete")</a>'
        }]
    });

    }
    function getPhieuChuyenPhatCheck(isAll) {
        var _ret = "";
        $('.phieuchuyenphat_checkbox').each(function () {
            if (this.checked || isAll) {
                var _id = $(this).attr('data-id');
                if (_ret == "")
                    _ret = _id;
                else
                    _ret = _ret + "," + _id;
            }
        });
        return _ret;
    }

    function xoaPhieuBienNhan(id){
        if (!confirm("Bạn có chắc chắn xóa phiếu chuyển phát này không ?"))
            return;
        $.ajax({
            cache: false,
            type: "POST",
            data: { "Id": id },
            dataType: 'json',
            url: "@(Url.Action("PhieuChuyenPhatDelete", "HangHoa"))",
            success: function (data) {
                if (data == "OK") {
                    alert("Xóa phiếu thành công!");
                    LoadDanhSachPhieuChuyenPhat();
                }
                else {
                    alert(data);
                }

            },
            });
    }

    function showProgessData(message) {
        $('.throbber-header').html(message);
        $(".throbber").show();

    }

    function hideProgessData(message) {
        $(".throbber").hide();
    }
    $(document).ready(function () {
        LoadDanhSachPhieuChuyenPhat();
        $("#@Html.FieldIdFor(m=>m.TrangThaiId)").change(function (event) {

            LoadDanhSachPhieuChuyenPhat();
        });
        $("#@Html.FieldIdFor(m=>m.VanPhongNhanId)").change(function (event) {

            LoadDanhSachPhieuChuyenPhat();
        });
        $("#@Html.FieldIdFor(m=>m.ThongTinChuyen)").keydown(function (event) {
            if (event.keyCode == 13) {
                LoadDanhSachPhieuChuyenPhat();
            }
        });
        $("#@Html.FieldIdFor(m=>m.HangHoaInfo)").keydown(function (event) {
            if (event.keyCode == 13) {
                LoadDanhSachPhieuChuyenPhat();
            }
        });
        $('#mastercheckbox').click(function () {
            $('.phieuchuyenphat_checkbox').attr('checked', $(this).is(':checked')).change();
        });
        $("#@Html.FieldIdFor(m=>m.isCoCuocTanNoi)").change(function (event) {
            LoadDanhSachPhieuChuyenPhat();
        });
        $('#btnTimKiem').click(function () {
            LoadDanhSachPhieuChuyenPhat();
        });

        $("#phieuchuyenphat-grid").kendoTooltip({
            filter: "td", //this filter selects the second column's cells
            position: "right",
            content: function (e) {
                var dataItem = $("#phieuchuyenphat-grid").data("kendoGrid").dataItem(e.target.closest("tr"));
                var content = "<div style='text-align:left'><strong>Thông tin:</strong> " + dataItem.MaPhieu + " - " + dataItem.TenHang + " (" + kendo.toString(dataItem.NgayNhanHang, "dd/MM/yyyy") + ")<br />";
                content = content + "<strong>Văn phòng nhận:</strong> " + dataItem.VanPhongNhanText + "<br />";
                content = content + "<strong>Người gửi:</strong> " + dataItem.NguoiGuiText + " - " + "<strong>Người nhận:</strong> " + dataItem.NguoiNhanText + "<br />";
                content = content + "<strong>Người tạo:</strong> " + dataItem.TenNhanvienGiaoDich + "<br />";
                content = content + "<strong>Tổng cước:</strong> " + kendo.toString(dataItem.TongTienCuoc, "n0") + " đ" + " - " + "<strong>Đã TT:</strong> " + kendo.toString(dataItem.TongCuocDaThanhToan, "n0") + " đ";
                content = content + "</div>";
                return content;
            }
        }).data("kendoTooltip");
    });

</script>


<style>
    .k-grid table tr:hover td {
        background: rgba(220, 239, 173, 0.38) !important;
    }
</style>