@model ListPhieuModel
@using Nop.Web.Models.ChuyenPhatNhanh
@{
    Layout = "~/Views/Shared/_NhaXeLayout.cshtml";
}

<table style="width:100%">
    <tr>
        <td style="text-align:left;border-right:2px solid #808080;border-bottom:2px solid #808080; ">
            <span style="font-weight:bold;font-size:15px">Danh sách phiếu chuyển phát nhanh - Trả hàng cho khách</span> [<span style="color:red;font-style:italic">Bạn đang thao tác tại văn phòng: <strong>@Model.TenVanPhongHienTai</strong></span>]        
        </td>
    </tr>
    <tr>
        <td>
            <table style="width:100%">
                <tr>
                    <td>
                        <table style="width:100%">
                            <tr>
                                <td style="text-align:right;width:80px;">
                                    Ngày ký gửi từ:
                                </td>
                                <td style="width:120px;">
                                    @Html.EditorFor(m => m.TuNgay)
                                </td>
                                <td style="text-align:right;width:50px;">
                                    đến:
                                </td>
                                <td style="width:120px;">
                                    @Html.EditorFor(m => m.DenNgay)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.HangHoaInfo, new { placeholder = "Thông tin người gửi, nhận, tên hàng...", @style = "width:95%" })
                                </td>
                                <td style="width:120px;">
                                    @Html.DropDownListFor(m => m.TrangThaiId,Model.trangthais)
                                </td>
                                <td style="width:120px;">
                                    <input type="button" id="btnTimKiem" class="k-button" value="Lọc" style="width:100%" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="phieuchuyenphat-grid"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<script>
    function LoadDanhSachPhieuChuyenPhat() {
        var TuNgay = ConvertDateTimeSystem($('#@Html.FieldIdFor(model => model.TuNgay)').val());
        var DenNgay = ConvertDateTimeSystem($('#@Html.FieldIdFor(model => model.DenNgay)').val());
        var dataadd = {
            HangHoaInfo: $('#@Html.FieldIdFor(model => model.HangHoaInfo)').val(),
            TuNgay: TuNgay,
            DenNgay: DenNgay,
            TrangThaiId: $('#@Html.FieldIdFor(model => model.TrangThaiId)').val(),
            VanPhongNhanId: '@(Model.VanPhongNhanId)',
        };

        $("#phieuchuyenphat-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("_PhieuChuyenPhatList", "HangHoa"))",
                        type: "POST",
                        dataType: "json",
                        data: dataadd
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
            },
            scrollable: true,
            columns: [{
                field: "MaPhieu",
                title: "Mã phiếu",
                attributes: { style: "text-align:center" },
                template: '<a href="javascript:ViewPBN(#=Id#)">#=MaPhieu#</a>'

            }, {
                field: "ThongTinXe",
                title: "Thông tin xe",
                width: "400px",
            }, {
                field: "VanPhongNhanText",
                title: "Tên văn phòng nhận"
            }, {
                field: "NguoiGui.HoTen",
                title: "Tên người gửi",
                template: "#=NguoiGui.HoTen#(#=NguoiGui.SoDienThoai#)"
            }, {
                field: "NguoiNhan.HoTen",
                title: "Tên người nhận",
                template: "#=NguoiNhan.HoTen#(#=NguoiNhan.SoDienThoai#)"
            }, {
                field: "TenHang",
                title: "Thông tin"
            }, {
                field: "TrangThaiText",
                title: "Trạng thái"
            }, {
                field: "NgayTao",
                title: "Ngày tạo",
                type: "date",
                format: "{0:dd-MM-yyyy}",
                attributes: { style: "text-align:center" },

            },  {
                field: "DaSMS",
                title: "SMS",
                template: '#=DaSMS==0?"Chưa":"Đã SMS("+DaSMS+")"#',
                attributes: { style: "text-align:center" },
                headerAttributes: { style: "text-align: center;" }
            }]
        });

    }

    $(document).ready(function () {
        LoadDanhSachPhieuChuyenPhat();
        $('#btnTimKiem').click(function () {
            LoadDanhSachPhieuChuyenPhat();
        });

        $("#phieuchuyenphat-grid").kendoTooltip({
            filter: "td", //this filter selects the second column's cells
            position: "right",
            content: function (e) {
                var dataItem = $("#phieuchuyenphat-grid").data("kendoGrid").dataItem(e.target.closest("tr"));
                var content = "<div style='text-align:left'><strong>Thông tin:</strong> " + dataItem.MaPhieu + " - " + dataItem.TenHang + " (" + kendo.toString(dataItem.NgayTao, "dd/MM HH:mm") + ")<br />";
                content = content + "<strong>Văn phòng nhận:</strong> " + dataItem.VanPhongNhanText + "<br />";
                content = content + "<strong>Người gửi:</strong> " + dataItem.NguoiGuiText + " - " + "<strong>Người nhận:</strong> " + dataItem.NguoiNhanText + "<br />";
                content = content + "<strong>Người tạo:</strong> " + dataItem.TenNhanvienGiaoDich + "<br />";
                content = content + "<strong>Tổng cước:</strong> " + kendo.toString(dataItem.TongTienCuoc, "n0") + " đ" + " - " + "<strong>Đã TT:</strong> " + kendo.toString(dataItem.TongCuocDaThanhToan, "n0") + " đ";
                content = content + "</div>";
                return content;
            }
        }).data("kendoTooltip");
    });

</script>


<style>
    .k-grid table tr:hover td {
        background: rgba(220, 239, 173, 0.38) !important;
    }
</style>