@model Nop.Web.Models.VeXeKhach.XeXuatBenModel

@{
    Layout = null;   
}
@using (Html.BeginForm("AddLaiXeHoacPhuXe", "NhaXes", FormMethod.Post, new { id = "FormLaiXePhuXe" }))
{
    @*if(!Model.CanXuatBen)
    {
        <p>Thông báo: đã hết thời gian có thể chỉnh sửa thông tin xuất bến</p>
    }
    else
    {*@ 
    <div class="section-header">
        <div class="options">
            <input type="button" id="BtnAddLaiXe" class="k-button" value="@T("Nop.Web.PhuTrachChuyen.HoanTat")" />
        </div>
    </div>
    @Html.HiddenFor(model => model.NguonVeId)
    @Html.HiddenFor(model=>model.NgayXuatBen)
    <table width="100%">
        <tr>
            <td>
                <table>
                    @for (int i = 0; i < Model.LaiXePhuXes.Count(); i++)
                    {

                        <tr>
                            <td>
                                @Html.CheckBoxFor(model => model.LaiXePhuXes[i].LaiXeCheckbox)
                                @Html.DisplayFor(model => model.LaiXePhuXes[i].TenLaiXe)
                                @Html.HiddenFor(model => model.LaiXePhuXes[i].TenLaiXe)
                                @Html.HiddenFor(model => model.LaiXePhuXes[i].Id)
                            </td>

                        </tr>
                    }
                </table>
            </td>

        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.TenBienSoXe):
            </td>
            <td class="adminData">
               @Html.DropDownListFor(model => model.XeVanChuyenId, Model.BienSoXes)
            </td>           
        </tr>
    </table>

}
<script type="text/javascript">

    $(document).ready(function () {
        $('#BtnAddLaiXe').click(function () {
            if ($('#@Html.FieldIdFor(model => model.XeVanChuyenId)').val() == 0)
            {
                return alert("Bạn chưa chọn biển số xe");
            }
            var form = $('#FormLaiXePhuXe');
            if (form.valid()) { //if you use validation
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: $("#FormLaiXePhuXe").serialize(),
                    success: function (data) {
                        if(data=="ok")
                        {
                            SetCloseWindowLaiXe();
                            var grid = $('#hanhtrinh-grid').data('kendoGrid');
                            grid.dataSource.page(1);
                        }
                        else {
                            alert("không thực hiện được");
                        }
                    }
                });
            }
        });

    });

</script>