@model ChotKhachListModel
@Html.ValidationSummary(false)
@{
    Layout = "~/Views/Shared/_NhaXeLayout.cshtml";
    ViewBag.Title = "Danh sách giao dịch chốt khách";
}

<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Content/chonve/nxmenu/phoive.png")" alt="" />
        @ViewBag.Title
    </div>
    <div class="options">
       
    </div>
</div>
<table style="width:100%;margin-bottom:15px">
    <tr>        
        <td style="width:15%">
            <table class="adminContent">
                <tr>
                    <td class="adminTitle" style="text-align:right">
                        Mã giao dịch:
                    </td>
                    <td class="adminContent">
                        @Html.EditorFor(model => model.MaGiaoDich)
                    </td>
                </tr>
            </table>
        </td>
        <td style="width:15%">
            <input id="cbbSearchNguoiChot" style="width:280px" />
            @Html.HiddenFor(model => model.NguoiChotId)
            <script>
                $(document).ready(function () {
                    function dataSearchNguoiChot() {
                        var _hovaten = $('#cbbSearchNguoiChot').data("kendoComboBox").text();
                        return {
                            SearchKhachhang: _hovaten
                        };
                    }
                    $('#cbbSearchNguoiChot').kendoComboBox({
                        placeholder: "Tên người chốt",
                        dataTextField: "HoTen",
                        dataValueField: "Id",
                        filter: "contains",
                        autoBind: false,
                        minLength: 2,
                        dataSource: {
                            type: "json",
                            serverFiltering: true,
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("CBBNhanVienNhanVe", "GiaoDichKeVe"))",
                                    data: dataSearchNguoiChot
                                }
                            }
                        },
                        change: onChangeNguoiChot
                    });
                    function onChangeNguoiChot(e) {
                        //alert(e.index);
                        var DataItem = this.dataItem();
                        $("#@Html.FieldIdFor(model => model.NguoiChotId)").val(DataItem.Id);

                    }
                });
            </script>

        </td>
        <td style="width:15%">
            <table class="adminContent">
                <tr>
                    <td class="adminTitle" style="text-align:right">
                        Điểm chốt:
                    </td>
                    <td class="adminContent">
                        @Html.DropDownListFor(model => model.DiemChotId,Model.diemchots)
                    </td>
                </tr>
            </table>
        </td>
        <td style="width:15%">
            <table class="adminContent">
                <tr>
                    <td class="adminTitle" style="text-align:right">
                        Giao dịch từ ngày:
                    </td>
                    <td class="adminContent">
                        @Html.EditorFor(model => model.TuNgay)
                    </td>
                </tr>
            </table>
        </td>
        <td style="width:15%">
            <table class="adminContent">
                <tr>
                    <td class="adminTitle" style="text-align:right">
                        đến :
                    </td>
                    <td class="adminContent">
                        @Html.EditorFor(model => model.DenNgay)
                    </td>
                </tr>
            </table>
        </td>

    </tr>
    <tr>
        <td>
            <input type="button" id="btnSearch" class="k-button" value="@T("Admin.Common.Search")" />
        </td>
    </tr>
</table>

<table class="adminContent">
    <tr>
        <td>
            <div id="gridlist"></div>

            <script>
                $(document).ready(function () {
                    $('#btnSearch').click(function () {
                        var grid = $('#gridlist').data('kendoGrid');
                        grid.dataSource.read();
                        return false;
                    });
                    $("#gridlist").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "/NhaXes/ChotKhachList",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: false,
                            serverFiltering: false,
                            serverSorting: false
                        },

                        scrollable: false,
                        columns: [
                                  {
                                      field: "Ma",
                                      title: "Mã",
                                      width: "90px",
                                      attributes: {
                                          style: "text-align: center;"
                                      },
                                      headerAttributes: { style: "text-align: center;" }
                                  },
                                   {
                                       field: "nguoichot",
                                       title: "Người chốt",
                                       width: "160px",
                                       attributes: {
                                           style: "text-align: center;"
                                       },
                                       headerAttributes: { style: "text-align: center;" }
                                   },
                                  {
                                      field: "NgayChot",
                                      title: "Ngày chốt",
                                      width: "120px",
                                      type: "date",
                                      attributes: { style: "text-align:center" },
                                      headerAttributes: { style: "text-align: center;" },
                                      format: "{0:dd/MM/yyyy HH:mm}"

                                  },
                                  {
                                      field: "diemchot", title: "Điểm chốt",
                                      width: "120px",
                                      headerAttributes: { style: "text-align: center;" },
                                      attributes: { style: "text-align:center" }

                                  },
                                  {
                                      field: "historychuyenxe", title: "Chuyến",
                                      headerAttributes: { style: "text-align: center;" },
                                      attributes: { style: "text-align:center" }
                                  },
                                  {
                                      field: "SoLuongThucTe",
                                      title: "Khách chốt",
                                      headerAttributes: { style: "text-align: center;" },
                                      attributes: { style: "text-align:center" },                                      
                                  },
                                  {
                                      field: "SoLuongPhanMem",
                                      title: "Khách trên phần mềm",
                                      headerAttributes: { style: "text-align: center;" },
                                      attributes: { style: "text-align:center" },
                                  },
                                  {
                                      field: "ViTriChot", title: "Vị trí chốt",
                                      width: "180px",
                                  }
                        ]
                    });


                });
                function ChiTietGiaoDich(id) {
                    var formchitiet = $("#ChiTietGiaoDich");
                    formchitiet.kendoWindow({
                        width: "700px",
                        height: "590px",
                        title: "Chi tiết giao dịch kê vé",
                        content: "@(Url.Action("ChiTietGiaoDich", "GiaoDichKeVe"))?Id=" + id,
                        actions: [
                            "Close"
                        ],
                    }).data("kendoWindow").center();
                    formchitiet.data('kendoWindow').open();
                }

                function additionalData() {
                    var data =
                    {                        
                        MaGiaoDich: $('#@Html.FieldIdFor(model => model.MaGiaoDich)').val(),
                        NguoiChotId: $('#@Html.FieldIdFor(model => model.NguoiChotId)').val(),
                        DiemChotId: $('#@Html.FieldIdFor(model => model.DiemChotId)').val(),
                        TuNgay: $('#@Html.FieldIdFor(model => model.TuNgay)').val(),
                        DenNgay: $('#@Html.FieldIdFor(model => model.DenNgay)').val()
                    };
                    //addAntiForgeryToken(data);
                    return data;
                }
            </script>
        </td>
    </tr>
</table>
<div id="ChiTietGiaoDich" style="display:none">
</div>