@model DiemDonModel
@using Nop.Web.Models.NhaXes
@{
    Layout = "~/Views/Shared/_NhaXeLayout.cshtml";
    //page title
    ViewBag.Title = T("ChonVe.NhaXe.DiemDon.Sua").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "DiemDon-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/chonve/nxmenu/hanhtrinhdiemdon.png")" alt="" />
            @T("ChonVe.NhaXe.DiemDon.Sua") - @Model.TenDiemDon @Html.ActionLink("(" + T("ChonVe.NhaXe.DiemDon.BackToList") + ")", "DiemDonList")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            <span id="DiemDon-delete" class="k-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_DiemDonChinhSua", Model)
}
@Html.DeleteConfirmation("DiemDonXoa", "DiemDon-delete")
