@model TaiKhoanModel
@using Nop.Web.Models.NhaXes
@{
    Layout = "~/Views/Shared/_NhaXeLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.Customers.Customers.EditCustomerDetails").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/chonve/nxmenu/nhanvientaikhoan.png")" alt="" />
            @T("Admin.Customers.Customers.EditCustomerDetails") - @Model.LastName @Model.FirstName
            @Html.ActionLink("(" + T("Admin.Customers.Customers.BackToList") + ")", "TaiKhoanList")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
@if (Model.Id > 0)
{
    <span id="customer-delete" class="k-button">@T("Admin.Common.Delete")</span>
}
            
        </div>
    </div>    
    @Html.Partial("_TaiKhoanChinhSua", Model)
}
@if(Model.Id>0)
{
    @Html.DeleteConfirmation("TaiKhoanXoa", "customer-delete")
}
    
