@model VanPhongModel
@using Nop.Web.Models.NhaXes
@{
    Layout = "~/Views/Shared/_NhaXeLayout.cshtml";
    //page title
    ViewBag.Title = T("ChonVe.NhaXe.VanPhong.Sua").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "vanphong-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/chonve/nxmenu/nhaxeinfovanphong.png")" alt="" />
            @T("ChonVe.NhaXe.VanPhong.Sua") - @Model.TenVanPhong @Html.ActionLink("(" + T("ChonVe.NhaXe.VanPhong.BackToList") + ")", "VanPhongList")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            <span id="vanphong-delete" class="k-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_VanPhongChinhSua", Model)
}
@Html.DeleteConfirmation("VanPhongXoa", "vanphong-delete")
