@model VanPhongModel
@using Nop.Web.Models.NhaXes
@{
    Layout = "~/Views/Shared/_NhaXeLayout.cshtml";
    //page title
    ViewBag.Title = T("ChonVe.NhaXe.VanPhong.TaoMoi").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "vanphong-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/chonve/nxmenu/nhaxeinfovanphong.png")" alt="" />
            @T("ChonVe.NhaXe.VanPhong.TaoMoi") @Html.ActionLink("(" + T("ChonVe.NhaXe.VanPhong.BackToList") + ")", "VanPhongList")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("_VanPhongChinhSua", Model)
}