@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
     <link href="~/Themes/ChonVeV1/Content/css/AccountInfo.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@*@section Top_site
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}*@
@*@RenderSection("Top_site")*@
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="MenuPage"> </div>
   <div class="page account_info">
        <div class="page-title">
            <h1 class="account_title">THAY ĐỔI MẬT KHẨU</h1>
        </div>
        
        <div class="custom-page-box-div">
            <div class="message-error">
                @Html.ValidationSummary(true)
            </div>
            @if (!String.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            <div class="fieldset">
                <div class="">
                    <div class="form-group row">
                        <div class="col-md-2 TitleInfo Title_pass">
                            @Html.LabelFor(model => model.OldPassword):
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.OldPassword, new { id = "oldPassword", required = "required", oninvalid = "InvalidMsg(this,'Không phải mật khẩu của bạn.')", oninput = "InvalidMsg(this,'');", Type = "password", placeholder = "Nhập mật khẩu cũ" })
                        </div>                       
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2 TitleInfo Title_pass">
                            @Html.LabelFor(model => model.NewPassword):
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.NewPassword, new { @class = "gray-input", required = "required",Type = "password", placeholder = "Nhập mật khẩu mới" })
                        </div>                      
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2 TitleInfo Title_pass">
                            @Html.LabelFor(model => model.ConfirmNewPassword):
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.ConfirmNewPassword, new { id = "confirmPassword", required = "required", oninvalid = "InvalidMsg(this,'Mật khẩu không giống.')", oninput = "InvalidMsg(this,'');", Type = "password", placeholder = "Xác nhận mật khẩu mới" })
                        </div>
                        
                    </div>
                </div>
            </div>
            <p class="loginv1 button">
                <input type="submit" value="Thay đổi mật khẩu" />
            </p>
        </div>
    </div>
  <script type="text/javascript">
      function InvalidMsg(textbox, strmsg) {
          if (textbox.value == '') {
              textbox.setCustomValidity(strmsg);
          }
          else if (textbox.validity.typeMismatch) {
              textbox.setCustomValidity('Email không đúng định dạng');
          }
          else {
              if (textbox.id == "customerPhone") {
                  if (textbox.value.length < 10) {
                      textbox.setCustomValidity("Số điện thoại phải có hơn 9 chữ số");
                  }
                  else
                      textbox.setCustomValidity('');
              }
              else
                  textbox.setCustomValidity('');
          }

          return true;
      }
        $(document).ready(function () {
            $('#btnChangePassword').click(function () {
               var OldPassword= $('#@Html.FieldIdFor(model => model.OldPassword)').val()
               var NewPassword= $('#@Html.FieldIdFor(model => model.NewPassword)').val()
                $('#btnChangePassword').attr('disabled', true);
                $.ajax({
                    cache: false,
                    type: "POST",
                    data: { "OldPassword": OldPassword, "NewPassword": NewPassword },
                    url: "@(Url.Action("ChangePassword", "Customer"))",
                    dataType: 'json',
                    success: function (data) {
                        if (data.success) {
                            alert('@T("ChangePassword.success")');
                            document.location.href = "/Customer/ChangePassword";
                        }
                        else {
                            alert('@T("ChangePassword.error")');
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('@T("NopWeb.changePassword.Loi")');
                        $('#btnChangePassword').attr('disabled', false);
                    }

                });
            });

        });

    </script>
}