@model List<BaoCaoLaiXePhuXeListModel.BaoCaoXeXuatBen>
@using Nop.Web.Models.NhaXes
@using Nop.Core.Infrastructure

<table style="width:100%;" border="1" cellpadding="0" cellspacing="0">
<tr style="font-weight:bold;text-align:center;height:30px">
    <td style="width:50px;">STT</td>
    <td style="width:150px">Tuyến</td>
    <td style="width:120px">Ngày đi</td>
    <td>Lái xe</td>
    <td>Phụ xe</td>
    <td style="width:100px">Biển số</td>
    <td style="width:120px">Doanh thu</td>
</tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr style="height:30px">
            <td style="text-align:center">@(i+1)</td>
            <td style="text-align:center">@Model[i].TuyenXeChay</td>
            <td style="text-align:center">@Model[i].NgayDi.ToString("dd/MM/yyyy HH:mm")</td>
            <td>@Model[i].LaiXe</td>
            <td>@Model[i].PhuXe</td>
            <td style="text-align:center">@Model[i].BienSo</td>
            <td style="text-align:right">@Model[i].TongDoanhThu.ToString("###,###,##0") đ</td>
        </tr>
    }
</table>