@model BaoCaoNhaXeModel
@using Nop.Web.Models.NhaXes
@using Nop.Core.Infrastructure
@{
    ViewBag.Title = "DOANH THU HÀNG HÓA TỔNG HỢP ";
    Layout = "~/Views/Shared/_NhaXeLayout.cshtml";
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Content/chonve/nxmenu/baocaodoanhthu.png")" alt="" />
        @ViewBag.Title
    </div>
</div>
<table style="width:100%">
    <tr>
        <td align="center" width="25%" id="tabThang">
            <table class="adminContent">
                <tr>
                    <td class="adminTitle" style="text-align:right">
                        Từ ngày:
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.TuNgay)
                    </td>
                </tr>
            </table>
        </td>
        <td align="center" width="25%" id="tabNam">
            <table class="adminContent">
                <tr>
                    <td class="adminTitle" style="text-align:right">
                        Đến ngày:
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DenNgay)
                    </td>
                </tr>
            </table>
        </td>
        <td align="center" width="15%">
            <table class="adminContent">
                <tr>
                    <td class="adminTitle" style="text-align:right">
                        Văn phòng:
                    </td>
                    <td class="adminData">
                        @Html.DropDownListFor(model => model.VanPhongId, Model.VanPhongs)
                    </td>
                </tr>
            </table>
        </td>
        <td style="text-align:left;width:15%">
            <input type="button" id="btnSearch" class="k-button" value="@T("Admin.Common.Search")" />
        </td>
        <td style="text-align:right">
            <input type="button" id="btnExport" class="k-button" value="Xuất ra file Excel" />
            @using (Html.BeginForm("_ExportBaoCao", "NhaXeBaoCao", FormMethod.Post, new { id = "export-xml-selected-form" }))
            {
                <input type="hidden" id="TuNgay" name="TuNgay" value="" />
                <input type="hidden" id="DenNgay" name="DenNgay" value="" />
                <input type="hidden" id="VanPhongId" name="VanPhongId" value="" />
                <input type="hidden" id="LoaiBaoCaoId" name="LoaiBaoCaoId" value="@Model.LoaiBaoCaoId" />
            }
        </td>
    </tr>
</table>
<div id="tabBaoCao"></div>
<script>
    function LoadBaoCao() {
        $('#tabBaoCao').html("");
        var datapost = dataSearchBaoCao();
        $.ajax({
            cache: false,
            type: "POST",
            data: datapost,
            url: "@(Url.Action("_BaoCaoTongHop", "NhaXeBaoCao"))",
            success: function (data) {
                $('#tabBaoCao').html(data);

            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#tabBaoCao').html("Có lỗi trong quá trình load dữ liệu");
            }
        });
    }
    function ExportBaoCao() {
        var TuNgay = $("#@Html.FieldIdFor(model => model.TuNgay)").val();
        var DenNgay = $("#@Html.FieldIdFor(model => model.DenNgay)").val();
        var VanPhongId = $("#@Html.FieldIdFor(model => model.VanPhongId)").val();
        var LoaiBaoCaoId = $("#@Html.FieldIdFor(model => model.LoaiBaoCaoId)").val();

        $('#export-xml-selected-form #TuNgay').val(TuNgay);
        $('#export-xml-selected-form #DenNgay').val(DenNgay);
        $('#export-xml-selected-form #VanPhongId').val(VanPhongId);
        $('#export-xml-selected-form #LoaiBaoCaoId').val(LoaiBaoCaoId);
        $('#export-xml-selected-form').submit();
    }
    function dataSearchBaoCao() {
        var datapost = {
            TuNgay: $("#@Html.FieldIdFor(model => model.TuNgay)").val(),
            DenNgay: $("#@Html.FieldIdFor(model => model.DenNgay)").val(),
            VanPhongId: $("#@Html.FieldIdFor(model => model.VanPhongId)").val(),
            LoaiBaoCaoId: '@Model.LoaiBaoCaoId'
        };
        return datapost;
    }
    $(document).ready(function () {
        $('#btnSearch').click(function () {
            //search
            LoadBaoCao();
            return false;
        });
        $('#btnExport').click(function () {
            ExportBaoCao();
            return false;
        });
        $("#@Html.FieldIdFor(model => model.VanPhongId)").change(function () {
            $("#btnSearch").click();
        });
        $("#@Html.FieldIdFor(model => model.DenNgay)").change(function () {
            $("#btnSearch").click();
        });
        LoadBaoCao();
    });
</script>