@model OrderModel.PhieuThuChiModel
@{
    Layout = null;
}
<style>
    .table{
        width:880px;
        margin-left:auto;
        margin-right:auto;
        
    }
</style>

<table class="table" cellspacing="2" cellpadding="2">
    <tbody>
        <tr>
            <td style="text-align: left; vertical-align: top; width: 270px;">
                CÔNG TY CỔ PHẦN CHONVE.VN
                <br />
                Địa chỉ: Số 123, đường Nguyễn Trãi, quận Thanh Xuân, Hà Nội.<br />
                Số điện thoại: 04 123 123
            </td>
            <td style="width: 250px; vertical-align: top;">
                <table style="width: 100%;" cellspacing="2" cellpadding="2">
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td style="text-align: center; font-size: 20px; font-weight: bold;">HÓA ĐƠN</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td style="text-align: center; width: 120px;">Li&ecirc;n 1</td>
                            <td style="text-align: left;">Số:&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: left; padding-right: 40px;" colspan="3">Ng&agrave;y @DateTime.Now.Day th&aacute;ng @DateTime.Now.Month năm @DateTime.Now.Year</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="vertical-align: top;" rowspan="2">
                <table style="width: 100%;" cellspacing="2" cellpadding="2">
                    <tbody>
                        <tr>
                            <td style="text-align: center; font-weight: bold;">Mẫu số 01 - TT</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; font-size: 12px;">(Ban h&agrave;nh theo QĐ số 48/2006/QĐ-BTC<br /> ng&agrave;y 14/09/2006 của Bộ trưởng BTC)</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">
                               
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;" >
                
                <table style="width: 100%;" cellspacing="2" cellpadding="2">
                    <tbody>
                        <tr>
                            <td style="height: 28px;" colspan="2"><strong style="margin-left: 22PX; font-size: 14px">THÔNG TIN ĐƠN HÀNG</strong></td>
                        </tr>
                        <tr>
                            <td style="width: 15px;">&nbsp;</td>
                            <td style="text-align: left;">Mã đơn hàng :&nbsp; <strong>@Model.MaDonHang</strong></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td style="text-align: left;">Trạng thái thanh toán :&nbsp;<strong>@Model.TrangThaiThanhToan</strong></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td style="text-align: left;">Tên khách hàng (email):&nbsp; <strong>@Model.TenKhachHang<br /> (@Model.EmailKhachHang) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong></td>
                        </tr>                      
                        <tr>
                            <td>&nbsp;</td>
                            <td style="text-align: left;">K&egrave;m theo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; chứng từ gốc</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="vertical-align: top;">
              
                <table style="width: 100%;" cellspacing="2" cellpadding="2">
                    <tbody>
                        <tr>
                            <td style="height: 28px;" colspan="2"><strong style="margin-left: 22PX; font-size: 14px;">ĐỊA CHỈ VẬN CHUYỂN</strong></td>
                        </tr>
                       
                        <tr>
                            
                            <td style="text-align: left;">Địa chỉ nhận hàng :&nbsp;<strong>@Model.DiaChiNhanObject.Address1,<br /> @Model.DiaChiNhanObject.City</strong></td>
                        </tr>
                        <tr>
                           
                            <td style="text-align: left;">Số điện thoại:&nbsp; <strong>@Model.DiaChiNhanObject.PhoneNumber &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong></td>
                        </tr>
                        <tr>
                           
                            <td style="text-align: left;">Phí vận chuyển:&nbsp; <strong>@Model.PhiVanChuyen</strong></td>
                        </tr>
                       
                       
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
           <td colspan="3">
               <strong style="margin-left:300px">SẢN PHẨM</strong>
               <table width="85%">
                   <tr>
                       <td >
                          
                           <table class="tablestyle" border="1" cellspacing="0" style="width: 100%; border-collapse: collapse;">
                               <thead>
                                   <tr class="headerstyle">
                                       <th align="center">
                                           @T("Admin.Orders.PhoiVe.TenNhaXe")
                                       </th>
                                       <th align="center">
                                           @T("Admin.Orders.PhoiVe.HanhTrinh")
                                       </th>
                                       <th align="center">
                                           @T("Admin.Orders.PhoiVe.LichTrinh")
                                       </th>
                                       <th align="center">
                                           @T("Admin.Orders.PhoiVe.NgayDi")
                                       </th>
                                       <th align="center">
                                           @T("Admin.Orders.PhoiVe.KiHieuGhe")
                                       </th>
                                       <th align="center">
                                           @T("Admin.Orders.PhoiVe.Price")
                                       </th>

                                   </tr>
                               </thead>
                               <tbody>
                                   @foreach (var item in Model.ListGhe)
                                   {
                                       <tr>
                                           <td align="center">
                                               @Model.TenNhaXe
                                           </td>
                                           <td align="center">
                                               @item.TenHanhTrinh
                                           </td>
                                           <td align="center">
                                               @item.TenLichTrinh
                                           </td>
                                           <td align="center">
                                               @item.NgayDi
                                           </td>
                                           <td align="center">@item.KyHieuGhe</td>
                                           <td align="center">@item.GiaVeText</td>

                                              
                                       </tr>
                                   }
                               </tbody>
                           </table>
                       </td>
                   </tr>

               </table>
           </td>
        </tr>
        <tr>
            <td></td>
           <td></td>
            <td >
                <table style="width: 100%; font-weight: bold;" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="text-align: left;">Giá trị đơn hàng :</td>
                            <td>@Model.TongTienSo</td>
                        </tr>
                       
                        <tr>
                            <td style="text-align: left;">Phí vận chuyển :</td>
                            <td>@Model.PhiVanChuyen</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Tổng giá trị đơn hàng :</td>
                            <td>@Model.TongGiaTriDonHang</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left;">@Model.TongTienChu</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: right; padding-right: 20px;" colspan="3">Ng&agrave;y @DateTime.Now.Day th&aacute;ng @DateTime.Now.Month năm @DateTime.Now.Year</td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width: 100%;" cellspacing="2" cellpadding="2">
                    <tbody>
                        <tr>      
                            <td style="text-align: center;"><strong>Gi&aacute;m đốc</strong><br /> <em>(K&yacute;, họ t&ecirc;n, đ&oacute;ng dấu)</em></td>                     
                            <td style="text-align: center;"><strong>Kế to&aacute;n trưởng</strong><br /> <em>(K&yacute;, họ t&ecirc;n)</em></td>
                            <td style="text-align: center;"><strong>Khách hàng</strong><br /> <em>(K&yacute;, họ t&ecirc;n)</em></td>
                            <td style="text-align: center;"><strong>Lễ tân</strong><br /> <em>(K&yacute;, họ t&ecirc;n)</em></td>
                            <td style="text-align: center; width: 120px;"><strong>Người vận chuyển</strong><br /> <em>(K&yacute;, họ t&ecirc;n)</em></td>
                           
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 50px;" colspan="3">&nbsp;</td>
        </tr>
       
    </tbody>
</table>

