@model ChuyenDiTaiChinhModel
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Events
@using Nop.Services.Events
@using Nop.Services.NhaXes
@using Nop.Core.Domain.NhaXes
@Html.HiddenFor(c => c.ListThuChi)

@{

    var khoanchis = Model.GiaoDichThuChis.Where(c => c.LoaiThuChiId > 100).ToList();
    var khoanthus = Model.GiaoDichThuChis.Where(c => c.LoaiThuChiId < 100).ToList();

    var TongDoanhThu = Model.DTLuotDi + Model.DTLuotVe;
    var STT = 0;
    var tongchi = khoanchis.Sum(c => c.SoTien) * 1000 - khoanthus.Sum(c => c.SoTien) * 1000;
    var thucthu = Model.VeQuay - tongchi;
}
<div style="margin-top:10px;">
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/chonve/nxmenu/keve_capnhatchuyen.png")" alt="" />
            Thông tin chi phí chuyến đi
        </div>

        <div class="options">            
            <input type="button" id="btnChiPhiChuyenDi_DongY" value="Cập nhật" class="k-button" />
            <input type="button" id="btnChiPhiChuyenDi_Huy" value="Hủy" class="k-button" />
        </div>
    </div>
    <div>
        <div style="text-align:left;color:red;padding:5px;">Chú ý: Có thể sử dụng các phép toán (+,/) ở các ô dưới để nhập liệu (ví du: 130+50+20 hoặc 290/2 ) </div>
        <table id="ChiPhiChuyenDi_ThuChi" style="width:100%" cellpadding="5" cellspacing="2">            
            <tr>
                <td style="width:50%;vertical-align:top">
                    <h2>Các khoản chi</h2>
                    <p style="color:red">Đơn vị tính: *1000 (vnđ);</p>
                    @foreach (var item in khoanchis)
                    {
                        STT++;
                        item.STT = STT;
                        <text>
                            @Html.Partial("_CapNhapChuyenDiTaiChinhItem", item)
                        </text>

                    }
                </td>
               
                <td style="vertical-align:top">
                    <table style="width:100%;font-size:14px;font-weight:bold;text-align:right">
                        <tr style="height:35px;">
                            <td colspan="2" style="font-size:14px;font-weight:bold;text-align:right">&nbsp;</td>
                        </tr>
                        <tr>
                            <td> Doanh thu hàng hóa:</td>
                            <td>  @Model.DoanhThuHang.ToString("###,###,###") (Vnd)</td>
                        </tr>
                        <tr>
                            <td> Doanh thu:</td>
                            <td>  @Model.VeQuay.ToString("###,###,###") (Vnd)</td>
                        </tr>
                        <tr>
                            <td> Tổng chi:</td>
                            <td> - @tongchi.ToString("###,###,###") (Vnd)</td>
                        </tr>
                        <tr style="height:70px;font-size:16px;color:red">
                            <td> Thực thu:</td>
                            <td style="border-top:2px solid #808080"> @thucthu.ToString("###,###,##0") (Vnđ)</td>
                        </tr>
                    </table>
                </td>

            </tr>
        </table>
    </div>
</div>


<script type="text/javascript">

    
    function GetValueInput() {

        //luu theo cu phap changid|seri1,seri2|changid|seri1,seri2
        var resultinput = "";
        $("input[name='txtSoTien_" + @Model.Id + "']").each(function () {

            var input = $(this);
            var loaithuchiid = input.attr('data_typeid');

            if (resultinput == "")
                resultinput = loaithuchiid + "|" + input.val();
            else
                resultinput = resultinput + "|" + loaithuchiid + "|" + input.val();
        });
        return resultinput;
    }

   
    function ThuChiProcess() {
        
        var arrgiaodichs = GetValueInput();
        var ghichu = $("#txtGhiChu_ChiPhiSuaChua").val();
        $('#@Html.FieldIdFor(model => model.ListThuChi)').val(arrgiaodichs);
        var adddata = {
            "Id": '@Model.Id',
            "ListThuChi": arrgiaodichs,
            "GhiChu": ghichu
        }

        $.ajax({
            cache: false,
            type: "POST",
            url: "/QLPhoiVe/_CapNhapChuyenDiTaiChinh",
            data: adddata,
            success: function (data) {
                alert("Cập nhập chi phí chuyến đi thành công");
                LoadChiPhiChuyenDi();
               
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Có lỗi trong quá trình xử lý');

            }
        });
    }

    function SumChiBenXe() {

    }
    $("#ChiPhiChuyenDi_ThuChi").delegate("*", "focus blur", function () {
        var elem = $(this);

        elem.toggleClass("focused", elem.is(":focus"));
        if (elem.is(":focus") == true) {
            var stt = elem.attr('datastt');
            $("input[datastt=" + stt + "]").keydown(function (event) {
                if (event.keyCode == 13) {
                    var stringInput = elem.val();
                    if(stringInput.indexOf('+')>0)
                    {
                        var arrinputtong=stringInput.split("+");
                        var Tong = 0;
                        for (i = 0; i < arrinputtong.length; i++) {
                            if ($.isNumeric(arrinputtong[i])) {
                                Tong = Tong + parseInt(arrinputtong[i]);
                            }
                        }
                        elem.val(Tong);
                    }
                    else if(stringInput.indexOf('/')>0)
                    {
                        var arrinputtong=stringInput.split("/");
                        if ($.isNumeric(arrinputtong[0]) && $.isNumeric(arrinputtong[1]))
                        {
                            var Tong=parseInt(arrinputtong[0])/parseInt(arrinputtong[1]);
                            elem.val(Tong);
                        }
                    }

                    stt = parseInt(stt) + 1;
                    $("input[datastt=" + stt + "]").focus();

                }
            });
        }



    });
    $(document).ready(function () {


        $('#btnChiPhiChuyenDi_DongY').click(function () {
            ThuChiProcess();

        });
        $('#btnChiPhiChuyenDi_Huy').click(function () {
            if (!confirm("Bạn có chắc chắn hủy thông tin chi phí của chuyến đi?"))
                return false;            

            $.ajax({
                cache: false,
                type: "POST",
                url: "/QLPhoiVe/HuyCapNhatChiPhi",
                data: { "Id": '@Model.Id' },
                success: function (data) {

                    if (data == "OK") {
                        alert("Hủy chi phí chuyến đi thành công");
                        LoadChiPhiChuyenDi();
                    }
                    else {
                        alert("Có lỗi trong hủy chi phí chuyến đi");
                    }


                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Có lỗi trong quá trình xử lý');

                }
            });

        });


    });

</script>
<style>
    .focused {
        background: #abcdef;
    }
</style>