@model QLHanhTrinhGiaVeModel
@using Nop.Web.Models.NhaXes
@using Nop.Core.Domain.Chonves
@using Nop.Core.Domain.NhaXes;
@{
    Layout = "~/Views/Shared/_NhaXeLayout.cshtml";
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Content/chonve/nxmenu/phoive.png")" alt="" />
        Cấu hình giá vé cho lich trinh
    </div>
    <div class="options">

    </div>
</div>
<div>
    @DanhSachXe(Model)
</div>
@helper DanhSachXe(QLHanhTrinhGiaVeModel item)
{
    <table id="BangDanhSach">
        <thead>
            <tr>
                <td>STT</td>
                <td>Tên hành trình</td>
                <td>Tên loại xe</td>
               
                <td>Giá vé</td>
                <td>is dollar</td>
               <td></td>
               
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < item.ListHanhTrinh.Count(); i++)
            {
               
                var _class = "";
                if (i % 2 == 0)
                {
                    _class = "RowColor";
                }
                <tr class="@_class">
                    <td>
                        @(i + 1)
                    </td>
                    <td style="font-weight: 900;font-size: 14px;">
                        @item.ListHanhTrinh[i].TenHanhTrinh
                    </td>
                    <td>
                        @item.ListHanhTrinh[i].TenLoaiXe
                    </td>
                    <td>
                        <input name="txtgiave" id="TextGiaVe_@(item.ListHanhTrinh[i].HanhTrinhId)_@(item.ListHanhTrinh[i].LoaiXeId)" value="@item.ListHanhTrinh[i].GiaVe" />
                    </td>
                    <td>
                        <input type="checkbox" name="ckloaitien" id="ckloaitien_@(item.ListHanhTrinh[i].HanhTrinhId)_@(item.ListHanhTrinh[i].LoaiXeId)" value="@item.ListHanhTrinh[i].isTienDo" />
                    </td>
                    <td>
                        <div id="actionedit_@(item.ListHanhTrinh[i].HanhTrinhId)_@(item.ListHanhTrinh[i].LoaiXeId)" style="width:100%;text-align:center;margin:3px;">

                            <a href="javascript:LuuThongTin(@item.ListHanhTrinh[i].HanhTrinhId,@item.ListHanhTrinh[i].LoaiXeId)" class="k-button"><img src="~/Content/chonve/nhaxe/edit_action.png" /></a>&nbsp; &nbsp;

                        </div>
                    </td>
                  
                </tr>
            }

        </tbody>
    </table>

}
<div id="divsodo"></div>
<script>

   
    function LuuThongTin(HanhTrinhId,LoaiXeId) {
       
        var GiaVe = $('#TextGiaVe_' + HanhTrinhId + '_' + LoaiXeId).val();
        var isTienDo = $('#ckloaitien_' + HanhTrinhId + '_' + LoaiXeId).is(':checked');
       
        var _data = { "HanhTrinhId": HanhTrinhId, "LoaiXeId": LoaiXeId, "GiaVe": GiaVe, "isTienDo": isTienDo };
        $.ajax({
            cache: false,
            type: "POST",
            data: _data,
            dataType: 'json',
            url: "@(Url.Action("CauHinhGiaVeChung", "QLPhoiVe"))",
            success: function (data) {
                $('#TextGiaVe_' + HanhTrinhId + '_' + LoaiXeId).html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $("#tabSoDoXeChuyenVe").html("Có lỗi trong quá trình tải sơ đồ xe");
            }
        });
    }

   
</script>
<div id="divNhatKy"></div>
<style>
    h3 {
        text-align: center;
    }

    .RowColor {
        background-color: #f5f5f5;
    }

    #BangDanhSach {
        width: 100%;
        border-collapse: collapse;
    }

        #BangDanhSach thead {
            font-weight: 700;
            text-align: center;
        }

        #BangDanhSach, #BangDanhSach tr, #BangDanhSach tr td {
            border: 1px solid #cccccc;
            text-align: center;
        }

            #BangDanhSach tr {
                height: 45px;
            }

    .khonghienthi {
        display: none;
    }
</style>